#
# This file contains configuration flags to customize your site
#
encoding: UTF-8

# Name of your site (displayed in the header)
name: business-science.io
author:
  name: Business Science
  email: info@business-science.io
  linkedin: https://www.linkedin.com/company/business.science
  github: https://github.com/business-science
  twitter: https://twitter.com/bizScienc
  facebook: https://www.facebook.com/Business-Science-LLC-754699134699054/

# Short bio or description (displayed in the header)
title: "Business Science"
description: Learn the enterprise-grade process of solving business problems with data science and machine learning

# Enter your Disqus shortname (not your username) to enable commenting on posts
# You can find your shortname on the Settings page of your Disqus account
disqus: mattdancho

# Enter your Google Analytics web tracking code (e.g. UA-2110908-2) to activate tracking
google_analytics: UA-76139189-1

# Your website URL (e.g. http://barryclark.github.io or http://www.barryclark.co)
# Used for Sitemap.xml and your RSS feed
url: https://www.business-science.io

# If you're hosting your site at a Project repository on GitHub pages
# (http://yourusername.github.io/repository-name)
# and NOT your User repository (http://yourusername.github.io)
# then add in the baseurl here, like this: "/repository-name"
baseurl: ""

# Pagination
paginate: 12
paginate_path: "/blog/page:num"

# Handle future posts
future: true

# Jekyll 3 now only supports Kramdown for Markdown
markdown: kramdown
kramdown:
  # Use GitHub flavored markdown, including triple backtick fenced code blocks
  input: GFM
  # Jekyll 3 and GitHub Pages now only support rouge for syntax highlighting
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    # Use existing pygments syntax highlighting css
    css_class: 'highlight'

# Use the following plug-ins
gems:
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem
  - jekyll-feed # Create an Atom feed using the official Jekyll feed gem
  - jekyll-paginate

# Exclude these files from your production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME

# Site collections
collections:
  lab-episodes:
    output: true
    permalink: /labs/:path/