---
layout: default
title: Categories
permalink: /categories/
---
<section id="blog">
  <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>categories</h1>

                  <!-- categories listed horizontally -->
                  <ul class="tag-cloud">
                  {% for category in site.categories %}
                    <li>
                      <a href="#{{ category | first | slugize }}">
                        {{ category | first }}
                      </a>
                    </li>
                  {% endfor %}
                  </ul>

                <hr>
            </div>
        </div>
  </div>

  <!-- Navigation for blog, tag, categories -->
  <nav>
      <ul class="pager" id="pager-blog">
        <li><a href="{{ site.baseurl }}/blog/"><i class="fa fa-book" aria-hidden="true"></i> Blog</a></li>
        <li><a href="{{ site.baseurl }}/tags/"><i class="fa fa-tags" aria-hidden="true"></i> By Tag</a></li>
      </ul>
    </nav>

  <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <!-- articles by category listed in body of the page -->
          <div id="archives">
          {% for category in site.categories %}
              <div class="archive-group">
                {% capture category_name %}{{ category | first }}{% endcapture %}
                <div id="#{{ category_name | slugize }}">
                  <div class = "container">
                      <h3 >{{ category_name }}</h3>
                      <a class="anchor" name="{{ category_name | slugize }}"></a>
                      {% for post in site.categories[category_name] %}

                      <article class="archive-item">
                        <div class="row">
                          <div class="col-md-9">
                            <ul id="tag_cat">
                              <li><h5 class="pull-left"><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h5></li>
                              <!-- <li>
                                <div class="date pull-right add-margin-25">
                                Written on {{ post.date | date: "%B %e, %Y" }}
                                </div>
                              </li> -->
                            </ul>
                          </div>
                        </div>
                      </article>
                      {% endfor %}

                  </div>
                </div>
              </div>
          {% endfor %}
          </div>

        </div>
      </div>
    </div>

</section>
