---
layout: default
title: Business Science Community
excerpt: Learn Data Science for Business - the enterprise-grade process of solving problems with data science and machine learning.
---

<!-- Cover Container -->
{% include header_business_science.html  %}

<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>This page is under construction<br>
        <small>More information is coming shortly.</small>
      </h1>
    </div>
  </div>
  
</div>

<!-- Separator - Support -->
<div class="container team-sport-cover">
    <h1 class="text-center">
        When you have questions,<br>we are here to<br><strong>help</strong><br>
    </h1>
</div>

<!-- Instructor Support -->
<div class="container">
  <div class="row">
      <div class="col-md-8 col-sm-12 col-md-offset-2 text-center">
          <h3>Instructor Support</h3>
          <p><strong>You have access to our instructors through our private Slack Channel and Forums</strong>.</p>
          <div class="row">
            <img class="shadow" src="/img/curriculum/bsu_slack_channel.jpg" alt="BSU Slack Channel" style="width:100%"/>
          </div>
          <br><br>
      </div>
  </div>
  
</div>

<br />

{% include footer_CTA.html  %}
