---
layout: default
title: Business Science Community
excerpt: Learn Data Science for Business - the enterprise-grade process of solving problems with data science and machine learning.
---

<!-- Cover Container -->
{% include header_business_science.html  %}

<br />
<br />



<!-- Community Video -->
<div class="info">
    
    <div class="container-fluid" style="margin-bottom:100px;">
        <a class="anchor" id=""></a>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1>The Business Science Tribe.<br>
                <small>Get help at the speed of learning.</small>
              </h1>
            </div>
          </div>
          
        </div>
        
        
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <iframe class="logo-shadow" width="100%" height="600" src="https://www.youtube.com/embed/nogIHBPixP0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <p class="text-center date">
                <strong>Watch Now</strong><br>
                Once you enroll in our courses, you gain lifetime access to our Private Slack Channel.
              </p>
              
            </div>
          </div>
        </div>
    </div>
</div>



<!-- Separator - Support -->
<div class="container team-sport-cover">
    <h1 class="text-center">
        When you have questions,<br>we are here to<br><strong>help</strong><br>
    </h1>
</div>

<!-- Instructor Support -->
<div class="container">
  <div class="row">
      <div class="col-md-8 col-sm-12 col-md-offset-2 text-center">
          <h3>Instructor and Community Support</h3>
          <p><strong>You have access to our instructors through our private Slack Channel and Forums</strong>.</p>
          <div class="row">
            <img class="shadow" src="/img/curriculum/bsu_slack_channel.jpg" alt="BSU Slack Channel" style="width:100%"/>
          </div>
          <br><br>
      </div>
  </div>
  
</div>

<br />

{% include footer_CTA.html  %}
