---
layout: default
title: Business Science Course Curriculum
excerpt: Learn data science for business 12-to-18 months faster.
---

<!-- Cover Container -->
<div class="container testimonial-cover" style="background-color: #f1f1f1; width: 100%; padding-top:40px">
  <div class="row">
    <div id="cover" class="container well" style="background-color: rgba(0, 0, 0, 0.6);">
      <!-- Logo -->
      <img class="img img-responsive pull-right" src="/img/business-science-logo.png" alt="Business Science Logo" 
      style="width:150px;-webkit-filter: drop-shadow(5px 5px 5px #151515);"/>
      <!-- Header -->
      <h1 style="margin-bottom:0px;"><strong>Learn Data Science For Business Faster</strong></h1>
      <p class="subtitle">
          The fastest way to learn <strong><em>applied machine learning for business.</em></strong><br>
      </p>
      
      {% include r_track_benefits_list.html  %}
      
      <!-- Enroll Now--> 
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>
            <a href="https://university.business-science.io/">
              <strong>Enroll now.</strong>
            </a>
          </h3>
        </div>
      </div>
      
    </div>
  </div>
</div>

<br />
<br />


<div class="container well bg-default" style="background-color:#ffffff00;">
  <!-- Large Screens -->
  <div class="row">
      <div class="col-sm-7">
        <h1>Business Science at a <span class="text-success">glance</span></h1>
        <p>Business Science University is different. We have re-imagined data science education using our integrated learning system that smashes through learning plateaus and <strong><em>accelerates your career 12-to-18 months faster than other programs.</strong></em></p>
        <div class="row">
          <div class="col-sm-12 text-center">
            <!-- Tech Logos -->
            <img class="img img-responsive logo-shadow" src="/img/curriculum/logos/logo-shiny.png" alt="" style="display:inline;max-height:75px;margin:5px;"/>
            <img class="img img-responsive logo-shadow" src="/img/curriculum/logos/logo-aws.png" alt="" style="display:inline;max-height:60px;margin:5px;padding-left:0px;padding-right:0px;"/>
            <img class="img img-responsive logo-shadow" src="/img/curriculum/logos/logo-tidyverse.png" alt="" style="display:inline;max-height:75px;margin:5px;"/>
            <img class="img img-responsive logo-shadow" src="/img/curriculum/logos/logo-h2o.png" alt="" style="display:inline;max-height:60px;margin:5px;"/>
            <img class="img img-responsive logo-shadow" src="/img/curriculum/logos/logo-git.png" alt="" style="display:inline;max-height:50px;margin:5px;"/>
            <img class="img img-responsive logo-shadow" src="/img/curriculum/logos/logo-docker.png" alt="" style="display:inline;max-height:60px;margin:5px;"/>
          </div>
        </div>
      </div>
      
      <div class="col-sm-5 text-center">
        <a href ="https://github.com/business-science/courseinfo/raw/master/Business%20Science%20-%20Mini%20Program%20Brochure%20(2%20Pages).pdf" target="_blank">
          <img class="img-responsive shadow" src="/img/homepage/brochure_thumbnail.png" alt="Stock Portfolio Optimization Application" style="width:100%;border:0px;-webkit-box-shadow:0px 0px 0px 0px #ccc;box-shadow:0px 0px 0px 0px #ccc;max-width:500px;margin-left:auto;margin-right:auto;"/>
        </a>
        <a href="https://github.com/business-science/courseinfo/raw/master/Business%20Science%20-%20Mini%20Program%20Brochure%20(2%20Pages).pdf" class="btn btn-md btn-info" style="width:100%;max-width:400px;">
              Download the PDF
          </a>
      </div>
  </div>
</div>


<div class="container results-cover">
  
    <h1 class="text-center">
        <br />
        <strong>Tired of not advancing?</strong>
        <br>
        Let us help.
    </h1>
</div>



<!-- HOW IT WORKS -->
<div class="container text-center">
    <a class="anchor" id="how-we-help"></a>
    
    <!-- How we help -->
    <h1 class="text-center">How we help</h1>
    <p class='text-center'>Our students have tried everything. Learning from many different educational platforms, MOOCs, and traditional universities...</p>
    
    <!-- Problem  -->
    <h2>The problem</h2>
    <p>After months of learning with other programs, they still can't apply data science to business. Progress has stopped. They are stuck with no end in sight.</p> 
    <p>And, they are angry. 😡 </p>
    <p><strong>I know because I've been there.</strong></p>
    <br />
    
    <!-- Solution -->
    <div class='well bg-primary' style='background-color:black;'>
      <h2>The solution</h2>
      <p>When students come to us, they want to know why we are different. There are two reasons.</p>
      <p>First, we get results. If you haven't seen <a href='/testimonials.html' target='_blank'><strong>our student transformations</strong></a>, then check them out.</p>
      <p>Second, we do this by breaking through learning plateaus. Here's how our integrated system works. </p>
    </div>
    <br /><br /> <br />
</div>

<div class="container team-cover text-center">
    <br />
    <h1 class="text-center">
        Two programs, one result.
        <br />
        <strong>Rapid transformation.</strong>
    </h1>
    <br />
</div>

<div class="container-fluid text-center" style='width:80%'>
<a class="anchor" id="solution"></a>
    
    <!-- How it Works -->
    <h1>How it works</h1>
    <p>The integrated system works by smashing through learning plateaus.</p>
    
    {% include bsu_program_how_it_works.html  %}
    
    <br /><br />

</div>

<!-- Separator - Journey -->
<div class="container journey-cover">
  <h1 class="text-center">
    <i class="fab fa-r-project fa-2x"></i> -Track for Business
    <hr style='width:30%;'/>
    <small style='color:white;'>Your path for <strong>rapid transformation.</strong></small>
  </h1>
</div>

<!-- R Track -->
<div class="info">
    
    <div class="container-fluid" style="margin-bottom:100px;">
        <a class="anchor" id="r-track"></a>
        
        <div class="container">
          <div class="row">
              
              <div class="col-sm-12">
          
                <h2 class="text-center"><i class="fab fa-r-project fa-2x"></i> -Track for Business</h2>
                <p class="subtitle text-center">5-10 Hours/Week | Lifetime Access | Perfect for Working Professionals</p>  
              </div>
              
              <br />
              
              <div class="col-sm-12">
                  {% include r_track_break_through_plateaus.html %}
              </div>
          </div>
        </div>
          
        

        <!-- R-Track Course Overview -->
        <div class="row">
            <div class="col-sm-12">
              <div class="row">
                
                <h3 class="subtitle text-center">What's inside the R-Track?<br><small>Each course has a 2-minute overview.</small></h3>
                <p class="text-center date">
                  <strong>Color Key:</strong> <span class="text-warning">Beginner</span>, <span class="text-info">Intermediate</span>, <span class="text-success">Advanced</span>
                </p>
              </div>
            </div>
        </div>
        
        {% include r_track_courses.html %}
        
    </div>
</div>

<div class="container team-cover">
  <h1 class="text-center">
    Learning Labs PRO
    <hr style='width:30%;'/>
    <small style='color:white;'>Technology is rapidly changing.<br><strong>Get ahead.</strong></small>
  </h1>
</div>

<!-- Learning Labs PRO -->
<div class="info">
    
    <div class="container-fluid" style="margin-bottom:100px;">
        <a class="anchor" id="ll-pro"></a>
        <div class="container">
          
          <div class="row">
            <div class="col-sm-12">
              <h2 class="text-center">Learning Labs PRO</h2>
              <p class="subtitle text-center">Twice Per Month | Intermediate Topics | Membership Program</p>
            </div>
          </div>
          
          <div class="well text-center">
            <h3>Get ahead of changing data science technology</h3>
            <p>Technology changes fast, and you need to keep learning to get ahead. That's exactly what LL PRO does.</p>
            <p class="text-center">Upon enrollment in Learning Labs PRO, you gain access to all Learning Labs and every new lab that is released generally twice per month. Labs come jammed packed with video, code, valuable bonuses (often shiny apps), and additional resources to keep you learning.</p>
            <p>Start Learning Labs PRO today. </p>
            
            <div class="col-sm-12 text-center">
                <a href="https://university.business-science.io/p/learning-labs-pro" 
                class="btn btn-lg btn-primary" style="width:100%; max-width:400px;">
                    Unlock Learning Labs PRO
                </a>
            </div>
            <br><br><br>
          </div>
          
          <hr />
        
          <div class="row">
            <div class="col-sm-12 text-center">
              <h3 class="subtitle text-center">What are Learning Labs Like?<br><small>Here's a sample learning lab.</small></h3>
              <iframe class="logo-shadow" width="100%" height="600" src="https://www.youtube.com/embed/kLiU-hzS7SE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <p class="text-center date"><strong>Learning Lab 28</strong><br>Build a Shiny Real Estate App with Zillow API</p>
              
            </div>
          </div>
          
          <br />
          
          
          
        </div>
        
        
          
    </div>
</div>



{% include footer_CTA.html  %}