---
layout: default
title: Business Science Course Curriculum
excerpt: Learn data science for business 12-to-18 months faster.
---

<!-- Cover Container -->
<div class="container testimonial-cover" style="background-color: #f1f1f1; width: 100%; padding-top:40px">
  <div class="row">
    <div id="cover" class="container well" style="background-color: rgba(0, 0, 0, 0.6);">
      <!-- Logo -->
      <img class="img img-responsive pull-right" src="/img/business-science-logo.png" alt="Business Science Logo" 
      style="width:150px;-webkit-filter: drop-shadow(5px 5px 5px #151515);"/>
      <!-- Header -->
      <h1 style="margin-bottom:0px;"><strong>Learn Data Science For Business Faster</strong></h1>
      <p class="subtitle">
          The most advanced curriculum in <strong><em>applied machine learning for business.</em></strong><br>
      </p>
      
      <!-- Benefits List -->
      <div class="benefits" style="margin-top:50px;">
        <div class="col-sm-offset-2 col-sm-4  hidden-xs">
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>Automatic Machine Learning</div>
          </div>
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>Business Consulting</div>
          </div>
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>Data Visualization</div>
          </div>
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>Time Series Forecasting</div>
          </div>
        </div>
        <div class="col-sm-4 hidden-xs">
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>Shiny Web Apps</div>
          </div>
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>SQL &amp; NoSQL Databases</div>
          </div>
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>Security &amp; Authentication</div>
          </div>
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>Deployment with AWS</div>
          </div>
        </div>
      </div>
      
      <!-- Enroll Now--> 
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>
            <a href="https://sso.teachable.com/secure/173166/users/sign_up?reset_purchase_session=1">
              <strong>Enroll now.</strong>
            </a>
          </h3>
        </div>
      </div>
      
    </div>
  </div>
</div>

<br />
<br />


<div class="container well bg-default" style="background-color:#ffffff00;">
  <!-- Large Screens -->
  <div class="row">
      <div class="col-sm-7">
        <h1>Business Science at a <span class="text-success">glance</span></h1>
        <p>Business Science University is different. We have re-imagined data science education using our integrated learning system that smashes through learning plateaus and <strong><em>accelerates your career 12-to-18 months faster than other programs.</strong></em></p>
        <div class="row">
          <div class="col-sm-12 text-center">
            <!-- Tech Logos -->
            <img class="img img-responsive logo-shadow" src="/img/curriculum/logos/logo-shiny.png" alt="" style="display:inline;max-height:75px;margin:5px;"/>
            <img class="img img-responsive logo-shadow" src="/img/curriculum/logos/logo-aws.png" alt="" style="display:inline;max-height:60px;margin:5px;padding-left:0px;padding-right:0px;"/>
            <img class="img img-responsive logo-shadow" src="/img/curriculum/logos/logo-tidyverse.png" alt="" style="display:inline;max-height:75px;margin:5px;"/>
            <img class="img img-responsive logo-shadow" src="/img/curriculum/logos/logo-h2o.png" alt="" style="display:inline;max-height:60px;margin:5px;"/>
            <img class="img img-responsive logo-shadow" src="/img/curriculum/logos/logo-git.png" alt="" style="display:inline;max-height:50px;margin:5px;"/>
            <img class="img img-responsive logo-shadow" src="/img/curriculum/logos/logo-docker.png" alt="" style="display:inline;max-height:60px;margin:5px;"/>
          </div>
        </div>
      </div>
      
      <div class="col-sm-5 text-center">
        <a href ="https://github.com/business-science/courseinfo/raw/master/Business%20Science%20-%20Mini%20Program%20Brochure%20(2%20Pages).pdf" target="_blank">
          <img class="img-responsive shadow" src="/img/homepage/brochure_thumbnail.png" alt="Stock Portfolio Optimization Application" style="width:100%;border:0px;-webkit-box-shadow:0px 0px 0px 0px #ccc;box-shadow:0px 0px 0px 0px #ccc;max-width:500px;margin-left:auto;margin-right:auto;"/>
        </a>
        <a href="https://github.com/business-science/courseinfo/raw/master/Business%20Science%20-%20Mini%20Program%20Brochure%20(2%20Pages).pdf" class="btn btn-md btn-info" style="width:100%;max-width:400px;">
              Download the PDF
          </a>
      </div>
  </div>
</div>


<div class="container results-cover">
  
    <h1 class="text-center">
        <br />
        <strong>Tired of not advancing?</strong>
        <br>
        Let us help.
    </h1>
    <!-- old
    <h1 class="text-center">
        The program that will<br><strong>accelerate your<br>data science career</strong>
    </h1>
    -->
</div>



<!-- HOW IT WORKS -->
<div class="container text-center">

    <h1 class="text-center">How we help</h1>
    <p class='text-center'>Our students have tried everything. Learning from many different educational platforms, MOOCs, and traditional universities...</p>
    <h2>The problem</h2>
    <p>After months of learning with other programs, they haven't progressed. They get stuck and they can't progress to the point of actually applying data science to business.</p>
    <br />
    
    <div class='well bg-primary' style='background-color:black;'>
      <h2>The solution</h2>
      <p>When students come to us, they are frustrated. They want to know why we are different. There are two reasons.</p>
      <p>First, we get results. If you haven't seen <a href='/testimonials.html' target='_blank'>our student transformations</a>, then check them out.</p>
      <p>Second, we do this by breaking through learning plateaus. Here's how our integrated system works. </p>
    </div>
    
    <h2>How it works</h2>
    <p>The integrated system works by smashing through learning plateaus.</p>
    <p class="text-center date">
      <strong>Color Key:</strong> <span class="text-warning">Beginner</span>, <span class="text-info">Intermediate</span>, <span class="text-success">Advanced</span>
    </p>
    
    
    <div class="row text-center equal">
      
      <!-- R-Track -->
      <div class="well col-md-8" style='border-color:#2c3e50;'>
        <h3>R-Track</h3>
        <p>Integrated course system designed for <br><strong>rapid transformation</strong> to an elite data scientist.</p>
        
        <div class="col-sm-12 text-center">
            <a href="https://university.business-science.io/p/5-course-bundle-machine-learning-web-apps-time-series" 
            class="btn btn-lg btn-primary" style="width:100%; max-width:400px;margin-bottom:10px;">
                Unlock The R-Track Bundle
            </a>
        </div>
        
        <br />
        
        <!-- Step 1 -->
        <div class="col-sm-12 col-md-6">
          <div class="thumbnail">
            <div class="caption">
              <h1>1</h1>
              <img class="img-responsive center-block" src="/img/curriculum/bsu_do_projects.jpg" alt="Do Projects and Climb the Hill" />
              <h3>Do Projects</h3>
              <p class="date">Project-based courses build your data science skills, starting with foundations and climbing to advanced machine learning, business consulting, &amp; time series forecasting.</p>
              <p>
                <br />
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <a href="https://university.business-science.io/p/ds4b-101-r-business-analysis-r/" target="_blank"
                    class="btn btn-md btn-warning" style="width:100%;margin-bottom:10px;max-width:400px;">
                        DS Foundations (101)
                    </a>
                </div>
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <a href="https://university.business-science.io/p/hr201-using-machine-learning-h2o-lime-to-predict-employee-turnover"
                    target="_blank" class="btn btn-md btn-success" style="width:100%;margin-bottom:10px;max-width:400px;">
                        Advanced ML (201)
                    </a>
                </div>
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <a href="https://university.business-science.io/p/ds4b-203-r-high-performance-time-series-forecasting/"
                    target="_blank" class="btn btn-md btn-success" style="width:100%;margin-bottom:10px;max-width:400px;">
                        Time Series (203)
                    </a>
                </div>
              </p>
            </div>
          </div>
        </div>
        
        <!-- Step 2 -->
        <div class="col-sm-12 col-md-6">
          <div class="thumbnail">
            <div class="caption">
              <h1>2</h1>
              <img class="img-responsive center-block" src="/img/curriculum/bsu_make_web_apps.jpg" alt="Build Web Applications" />
              <h3>Build Apps</h3>
              <p class="date">Application courses teach you how to productionalize data science in a form that can be distributed across the organization to scale data-driven decision-making.</p>
              <p>
                <br />
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <a href="https://university.business-science.io/p/ds4b-102-r-shiny-web-application-business-level-1/" 
                    target="_blank" class="btn btn-md btn-info" style="width:100%;margin-bottom:10px;max-width:400px;">
                        Shiny Dashboards (102)
                    </a>
                </div>
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <a href="https://university.business-science.io/p/expert-shiny-developer-with-aws-course-ds4b-202a-r" 
                    target="_blank" class="btn btn-md btn-success" style="width:100%;margin-bottom:10px;max-width:400px;">
                        Advanced Apps &amp; AWS (202A)
                    </a>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <!-- LL PRO -->
      <div class="well col-md-4" style='border-color:#2c3e50;'>
        
        <h3>Learning Labs PRO</h3>
        <p>Membership program designed for <strong>continuous learning.</strong></p>
        <div class="col-sm-12 text-center">
            <a href="https://university.business-science.io/p/learning-labs-pro" 
            class="btn btn-lg btn-primary" style="width:100%; max-width:400px;margin-bottom:10px;">
                Unlock Learning Labs PRO
            </a>
        </div>
        
        <br />
        
        <!-- Step 3 -->
        <div class="col-sm-12">
          <div class="thumbnail">
            <div class="caption">
              <h1>3</h1>
              <img class="img-responsive center-block" src="/img/curriculum/bsu_continue_learning.jpg" alt="Communicate with Data Products" />
              <h3>Continue To Learn</h3>
              <p class="date">Continuously learn by getting focused 1-hour learning labs twice per month to keep you learning critical topics beyond the core curriculum.</p>
              <br />
              <p>
                <br />
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <a href="https://university.business-science.io/p/learning-labs-pro" 
                    target="_blank" class="btn btn-md btn-success" style="width:100%;margin-bottom:10px;max-width:400px;">
                        Learning Labs PRO
                    </a>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
      
        
      
    </div>
    <br /><br />

</div>

<!-- Separator - Journey -->
<div class="container journey-cover">
  <h1 class="text-center">
    <br>
    Your path for <br><strong>rapid transformation.</strong>
  </h1>
</div>

<!-- R Track -->
<div class="info">
    
    <div class="container-fluid" style="margin-bottom:100px;">
        <a class="anchor" id=""></a>
        
        <div class="container">
          <div class="row">
              
              <div class="col-sm-12">
          
                <h2 class="text-center"><i class="fab fa-r-project fa-2x"></i> -Track for Business</h2>
                <p class="subtitle text-center">5-10 Hours/Week | Lifetime Access | Perfect for Working Professionals</p>  
              </div>
              
              <br />
              
              <div class="col-sm-12">
                  <div class="well text-center">
                      <h3>Break through learning plateaus</h3>
                      <p class="text-center">
                        When you unlock the R-Track, be prepared for accelerated learning. The courses are designed to break through learning plateaus by building on each other in rapid succession. We do this by using an innovative learning approach of jumpstarting, then explaining, then jumpstarting... and the cycle of quickly progressing through business projects. <strong>The result is you learn 12-to-18 months faster than traditional programs.</strong>  
                      </p>
                      <p>Start your journey towards becoming an elite data scientist today.</p>
                      <div class="col-sm-12 text-center">
                          <a href="https://university.business-science.io/p/5-course-bundle-machine-learning-web-apps-time-series" 
                          class="btn btn-lg btn-primary" style="width:100%; max-width:400px;">
                              Unlock The R-Track Bundle
                          </a>
                      </div>
                      <br><br><br>
                    </div>
              
              </div>
          </div>
        </div>
          
        

        <!-- R-Track Course Overview -->
        <div class="row">
            <div class="col-sm-12">
              <div class="row">
                
                <h3 class="subtitle text-center">What's inside the R-Track?<br><small>Each course has a 2-minute overview.</small></h3>
                <p class="text-center date">
                  <strong>Color Key:</strong> <span class="text-warning">Beginner</span>, <span class="text-info">Intermediate</span>, <span class="text-success">Advanced</span>
                </p>
              </div>
            </div>
        </div>
        
        {% include r_track_courses.html  %}
        
    </div>
</div>

<div class="container team-cover">
    <h1 class="text-center">
        Learning never ends.<br><strong>Continuously push</strong> the envelope.
        <br />
    </h1>
</div>

<!-- R Track -->
<div class="info">
    
    <div class="container-fluid" style="margin-bottom:100px;">
        <a class="anchor" id=""></a>
        <div class="container">
          
          <div class="row">
            <div class="col-sm-12">
              <h2 class="text-center">Learning Labs PRO</h2>
              <p class="subtitle text-center">Twice Per Month | Intermediate Topics | Membership Program</p>
              <div class="well text-center">
                <h3>Enroll and Get Every Lab</h3>
                <p class="text-center">Upon enrollment in Learning Labs PRO, you gain access to all Learning Labs and every new lab that is released generally twice per month. Labs come jammed packed with video, code, valuable bonuses (often shiny apps), and additional resources to keep you learning.</p>
                
                <div class="col-sm-12 text-center">
                    <a href="https://university.business-science.io/p/learning-labs-pro" 
                    class="btn btn-lg btn-primary" style="width:100%; max-width:400px;">
                        Unlock Learning Labs PRO
                    </a>
                </div>
                <br><br><br>
              </div>
              
            </div>
          </div>
        
          <div class="row">
            <div class="col-sm-12 text-center">
              <h3 class="subtitle text-center">What are Learning Labs Like?<br><small>Here's a sample learning lab.</small></h3>
              <iframe class="logo-shadow" width="100%" height="600" src="https://www.youtube.com/embed/kLiU-hzS7SE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <p class="text-center date"><strong>Learning Lab 28</strong><br>Build a Shiny Real Estate App with Zillow API</p>
              
            </div>
          </div>
        </div>
        
        
          
    </div>
</div>



{% include footer_CTA.html  %}