<!-- FREE JUMPSTART COURSE -->
<div class="container well" style="background-color:#2c3e50;color:white;">
  <div class="col-md-8">
    <h3>Free Data Science Course: Jumpstart with R</h3>
    <p>We've just launched <em>Jumpstart with R</em>, the perfect course to <strong>jumpstart</strong> your skills!</p>
    <p>
      <a href="https://university.business-science.io/p/jumpstart-with-r" class="btn btn-primary btn-lg btn-success" role="button"><i class="fa fa-play fa-1x"></i> Start FREE Course Now</a>
    </p>
  </div>
  <div class="col-md-4">
    <br />
    <a href="https://university.business-science.io/p/jumpstart-with-r" target="_blank"><img src="/assets/new_products/jumpstart_with_r.jpg" alt="Free Jumpstart with R Course" style="width:100%;box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(252,252,252,0.19);"></a>
  </div>
  
</div>