<!-- APP CALL TO ACTION -->
<div class="row">
  <div class="container well" style="background-color:#f7f7f7;">
    <div class="col-md-8">
      <h3>With Business Science, you can build ML-Powered Web Apps</h3>
      <p>Start by creating a free account at Business Science University.</p>
      <p>
        <a href="https://university.business-science.io/" class="btn btn-success" role="button">Create Free Account</a>
      </p>
    </div>
    <div class="col-md-4">
      <br />
      <a href="https://business-science.shinyapps.io/Product_Price_Prediction_Application/" target="_blank"><img src="/assets/app_gallery/product_price_prediction_app.gif" alt="Product Price Prediction App" style="width:100%;box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);"></a>
    </div>
    
  </div>
</div>