<!-- ANNOUNCEMENTS -->
<hr>
<h2 id="announcements">Announcements</h2>

<!-- LEARNING LAB -->
<!--
<h3 id="brand-new---learning-lab-webinar---live-coding">BRAND NEW - Learning Lab Webinar - LIVE CODING</h3>

<h4>Topic: <strong>Marketing Analytics: Excel to R &amp; The Correlation Funnel</strong></h4>

<div class="row">
  
  <p class="text-center"><a href="https://zoom.us/webinar/register/WN_zDjku3aNREa4zMflJZzRuA">
  <img class="shadow pull-right" src="/assets/2019-02-05-python-rstudio-ide/correlation_funnel.jpg" alt="Learning Lab: Correlation Funnel" style="width:40%; margin-left:20px;"/>
  </a></p>
  
  <p class="text-center" style="font-size:24px;"><strong>Wednesday February 13th, 2019.</strong> </p>
  <p>This is an ambitious Learning Lab where we are showcasing LIVE:</p>
  
  <ul>
    <li>Marketing Analytics</li>
    <li><code class="highlighter-rouge">Excel</code> to <code class="highlighter-rouge">R</code> Business Process Conversion</li>
    <li><code class="highlighter-rouge">R</code> Packages including <code class="highlighter-rouge">tidyverse</code> and <code class="highlighter-rouge">recipes</code></li>
  </ul>
  
  <p class="text-center" style="font-size:30px;">
  <a href="https://zoom.us/webinar/register/WN_zDjku3aNREa4zMflJZzRuA"><strong>Sign Up For Learning Lab: Marketing Analytics</strong></a>
  </p>
</div> -->


<!-- NEWSLETTER -->
<h3 id="newsletter---data-science-fundamentals">NEWSLETTER - Data Science Fundamentals</h3>

<p>We just launched a new initiative to help you take your data science skills to the next level. Every Tuesday we send you new resources, tips, and advice to accelerate your learning.</p>

<p class="text-center" style="font-size:30px;">
<a href="https://mailchi.mp/business-science/data-science-fundamentals-newsletter"><strong>Sign Up For Data Science Fundamentals Newsletter</strong></a>
</p>

<p class="text-center"><a href="https://mailchi.mp/business-science/data-science-fundamentals-newsletter">
  <img  src="/assets/2019-02-05-python-rstudio-ide/DSF.jpg" alt="Data Science Fundamentals" style="width:50%;"/></a></p>


