<!-- BUSINESS SCIENCE CURRICULUM -->

<!-- CTA Large-->
<p><br /></p>
<hr />

<p><a class="anchor" id="curriculum"></a></p>

<h2 class="text-center">Data Science for Business Curriculum</h2>

<p><a href="https://university.business-science.io/">Business Science University</a> is an educational platform that teaches how to apply data science to business. Our offering includes of a fully integrated, project-based <code class="highlighter-rouge">R-Track</code>.</p>

<p><a href="https://university.business-science.io/"><img class="img-rounded shadow" src="/img/curriculum/bsu_the_plan.jpg" alt="BSU R-Track Course Curriculum" style="width:100%;"/></a></p>


<h2 class="text-center">
<strong>R-Track Curriculum Details</strong>
</h2>

<table>
  <tbody>
    <tr>
      <td><strong><em><a href="https://university.business-science.io/p/ds4b-101-r-business-analysis-r">Business Analysis with R (Beginner)</a></em></strong> - Data Science Foundations</td>
      <td>7-Week course</td>
      <td>12 <code class="highlighter-rouge">tidyverse</code> Packages</td>
      <td>2 business projects</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td><strong><em><a href="https://university.business-science.io/p/hr201-using-machine-learning-h2o-lime-to-predict-employee-turnover">Data Science For Business with R (Intermediate/Advanced)</a></em></strong> - Machine Learning + Business Consulting</td>
      <td>10-Week course</td>
      <td><code class="highlighter-rouge">H2O</code>, <code class="highlighter-rouge">LIME</code>, <code class="highlighter-rouge">recipes</code>, and 10 more packages</td>
      <td>1 end-to-end business project</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td><strong><em>Web Apps for Business with Shiny (Advanced)</em></strong> - Web Frameworks (Bootstrap, HTML/CSS) and Shiny</td>
      <td>6-Week course</td>
      <td><code class="highlighter-rouge">Shiny</code>, <code class="highlighter-rouge">shinytest</code>, <code class="highlighter-rouge">shinyloadtest</code>, <code class="highlighter-rouge">profvis</code>, and more!</td>
      <td>Take machine learning model into production</td>
    </tr>
  </tbody>
</table>


<p class="text-center" style="font-size:30px;">
<a href="https://university.business-science.io/"><strong>Join Business Science University Today</strong></a>
</p>


<hr />

<p><br />
<!-- End CTA --></p>

