
<!-- SOCIAL -->
<h2 id="stay-connected-get-updates-learn-data-science-">Stay Connected, Get Updates, Learn Data Science <a class="anchor" id="social"></a></h2>

<ul>
  <li>Join our <a href="https://mailchi.mp/business-science/data-science-fundamentals-newsletter">Data Science Foundations Newsletter</a> - Every Tuesday, we send you tools, tips, advice, and resources.</li>
  <li>Join our <a href="https://mailchi.mp/business-science/webinars">Learning Lab (YouTube Webinar) Series</a> - We host live learning events where you learn from experts.</li>
</ul>

<p>If you like our software (<code class="highlighter-rouge">anomalize</code>, <code class="highlighter-rouge">tidyquant</code>, <code class="highlighter-rouge">tibbletime</code>, <code class="highlighter-rouge">timetk</code>, and <code class="highlighter-rouge">sweep</code>), our courses, and our company, you can connect with us:</p>

<ul>
  <li><a href="https://www.linkedin.com/company/business.science"><strong>Business Science</strong> on LinkedIn</a></li>
  <li><a href="https://twitter.com/bizScienc"><strong>bizScienc</strong> on twitter</a></li>
  <li><a href="https://www.facebook.com/Business-Science-LLC-754699134699054/"><strong>Business Science</strong> on Facebook</a></li>
  <li><a href="https://github.com/business-science"><strong>@business-science</strong> on GitHub</a></li>
</ul>