<!-- ANNOUNCEMENTS -->
<hr>
<h2 id="announcements" class="text-center">Announcements</h2>

<!-- LEARNING LAB -->
<!--
<h3 id="brand-new---learning-lab-webinar---live-coding">BRAND NEW - Learning Lab Webinar - H2O Machine Learning</h3>

<h4>Topic: <strong>H2O Automated Machine Learning - Hands On!</strong></h4>

<div class="row">
  
  <p class="text-center"><a href="https://zoom.us/webinar/register/WN_IuKxXfp6TVeixKAPRrr0-Q">
  <img class="shadow pull-right" src="/assets/labs/lab_h2o_erin_ledell.jpg" alt="Learning Lab: H2O Automated Machine Learngin - Hands On!" style="width:60%; margin-left:20px;"/>
  </a></p>
  
  <p class="text-center well" style="font-size:24px;"><strong>Wednesday February 27th, 2019 at 3PM EST</strong> </p>
  <p>This is an amazing Learning Lab where with a Special Guest: <strong>Erin LeDell</strong>, Chief Machine Learning Scientist at H2O</p>
  <p>Join us for a LIVE Hands-On Lab: <code class="highlighter-rouge">H2O AutoML</code></p>
  
  <br />
    
  <p class="text-center" style="font-size:30px;">
  <a href="https://zoom.us/webinar/register/WN_IuKxXfp6TVeixKAPRrr0-Q"><strong>H2O AutoML - Hands On - Register Now!</strong></a>
  </p>
</div> 
-->


<!-- NEWSLETTER -->
<h3 id="newsletter---data-science-fundamentals">NEW - Data Science Fundamentals Newsletter</h3>

<p>We just launched a new initiative to help you take your data science skills to the next level. Every Tuesday we send you new resources, tips, and advice to accelerate your learning.</p>

<p class="text-center"><a href="https://mailchi.mp/business-science/data-science-fundamentals-newsletter">
  <img  src="/assets/2019-02-05-python-rstudio-ide/DSF.jpg" alt="Data Science Fundamentals" style="width:50%;"/></a></p>

<p class="text-center" style="font-size:30px;">
<a href="https://mailchi.mp/business-science/data-science-fundamentals-newsletter"><strong>Sign Up For Data Science Fundamentals Newsletter</strong></a>
</p>

