
<!-- Color Key -->
<p class="text-center date">
  <strong>Color Key:</strong> <span class="text-warning">Beginner</span>, <span class="text-info">Intermediate</span>, <span class="text-success">Advanced</span>
</p>

<div class="row text-center equal">
  
  <!-- R-Track -->
  <div class="well col-md-8" style='border-color:white; background-color:#f19d1552;'>
    <h3>R-Track</h3>
    <p>Integrated course system designed for <br><strong>rapid transformation</strong> to an elite data scientist.</p>
    
    <div class="col-sm-12 text-center">
        <a href="https://university.business-science.io/p/5-course-bundle-machine-learning-web-apps-time-series" 
        class="btn btn-lg btn-warning" style="width:100%; max-width:400px;margin-bottom:10px;">
            Unlock The R-Track Bundle
        </a>
    </div>
    
    <br />
    
    <!-- Step 1 -->
    <div class="col-sm-12 col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <h1>1</h1>
          <img class="img-responsive center-block" src="/img/curriculum/bsu_do_projects.jpg" alt="Do Projects and Climb the Hill" />
          <h3>Do Projects</h3>
          <p class="date">Project-based courses build your data science skills, starting with foundations and climbing to advanced machine learning, business consulting, &amp; time series forecasting.</p>
          <p>
            <br />
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <a href="https://university.business-science.io/p/ds4b-101-r-business-analysis-r/" target="_blank"
                class="btn btn-md btn-warning" style="width:100%;margin-bottom:10px;max-width:400px;">
                    DS Foundations (101)
                </a>
            </div>
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <a href="https://university.business-science.io/p/hr201-using-machine-learning-h2o-lime-to-predict-employee-turnover"
                target="_blank" class="btn btn-md btn-success" style="width:100%;margin-bottom:10px;max-width:400px;">
                    Advanced ML (201)
                </a>
            </div>
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <a href="https://university.business-science.io/p/ds4b-203-r-high-performance-time-series-forecasting/"
                target="_blank" class="btn btn-md btn-success" style="width:100%;margin-bottom:10px;max-width:400px;">
                    Time Series (203)
                </a>
            </div>
          </p>
        </div>
      </div>
    </div>
    
    <!-- Step 2 -->
    <div class="col-sm-12 col-md-6">
      <div class="thumbnail">
        <div class="caption">
          <h1>2</h1>
          <img class="img-responsive center-block" src="/img/curriculum/bsu_make_web_apps.jpg" alt="Build Web Applications" />
          <h3>Build Apps</h3>
          <p class="date">Application courses teach you how to productionalize data science in a form that can be distributed across the organization to scale data-driven decision-making.</p>
          <p>
            <br />
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <a href="https://university.business-science.io/p/ds4b-102-r-shiny-web-application-business-level-1/" 
                target="_blank" class="btn btn-md btn-info" style="width:100%;margin-bottom:10px;max-width:400px;">
                    Shiny Dashboards (102)
                </a>
            </div>
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <a href="https://university.business-science.io/p/expert-shiny-developer-with-aws-course-ds4b-202a-r" 
                target="_blank" class="btn btn-md btn-success" style="width:100%;margin-bottom:10px;max-width:400px;">
                    Advanced Apps &amp; AWS (202A)
                </a>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- LL PRO -->
  <div class="well col-md-4" style='border-color:white; background-color:#18bc9c7d;'>
    
    <h3>Learning Labs PRO</h3>
    <p>Membership program designed to <strong>stay ahead of advancing technology.</strong></p>
    <div class="col-sm-12 text-center">
        <a href="https://university.business-science.io/p/learning-labs-pro" 
        class="btn btn-lg btn-success" style="width:100%; max-width:400px;margin-bottom:10px;">
            Unlock Learning Labs PRO
        </a>
    </div>
    
    <br />
    
    <!-- Step 3 -->
    <div class="col-sm-12">
      <div class="thumbnail">
        <div class="caption">
          <h1>3</h1>
          <img class="img-responsive center-block" src="/img/curriculum/bsu_continue_learning.jpg" alt="Communicate with Data Products" />
          <h3>Continue To Learn</h3>
          <p class="date">Continuously learn by getting focused 1-hour learning labs twice per month to keep you learning critical topics beyond the core curriculum.</p>
          <br />
          <p>
            <br />
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <a href="https://university.business-science.io/p/learning-labs-pro" 
                target="_blank" class="btn btn-md btn-success" style="width:100%;margin-bottom:10px;max-width:400px;">
                    Learning Labs PRO
                </a>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>