
<br>
<hr>

<div class="row">
    <div class="col-md-8 text-center">
        <h2 style="margin-top: 0px !important;">Learn Advanced Machine Learning</h2>

        <p>Get the skills to <strong>become a machine learning expert</strong>. </p>
        <p>Solve real-world problems using <strong>Automatic Machine Learning with R programming</strong>.</p>

        <p style="font-size:30px;">
        <a href="https://university.business-science.io/p/hr201-using-machine-learning-h2o-lime-to-predict-employee-turnover"><strong>Start Learning Today!</strong></a> 
        </p> 
    </div>

    <div class="col-md-4 text-center">
            <a href="https://university.business-science.io/p/hr201-using-machine-learning-h2o-lime-to-predict-employee-turnover">
                <img src="/assets/course_thumbnail_201.png" border="0" />
            </a>
    </div>
</div>


<hr>