
<hr>

<p class="text-center" ><strong>Learning Lab 31: Shiny Google Analytics App with googleAnalyticsR [Marketing]</strong></p>
<p class="text-center" style="color:red;">The next Learning Lab starts in...</p>
<div style="text-align: center!important"><img align="center" src="http://i.countdownmail.com/fw632.gif" style="display:inline-block!important;width:90%!important;max-width:416px!important;border:0px!important;" alt="countdownmail.com"/></div>
<br>
<p class = "text-center">
    <a class="btn btn-lg btn-success" href="http://bit.ly/learning_labs" target="_blank">
        Register for Learning Labs Here (FREE)
    </a>
</p>
<hr>

