
<br>
<hr>

<div class="row">
    <div class="col-md-8 text-center">
        <h2 style="margin-top: 0px !important;">Build Predictive Web Apps</h2>

        <p>
            <strong>Learn how to take your models into production</strong>. 
            Create web applications that allow businesse people to make data-driven decisions using your work. 
        </p>

        <p style="font-size:30px;">
        <a href="https://university.business-science.io/p/ds4b-102-r-shiny-web-application-business-level-1"><strong>Start Learning Today!</strong></a> 
        </p> 
    </div>

    <div class="col-md-4 text-center">
            <a href="https://university.business-science.io/p/ds4b-102-r-shiny-web-application-business-level-1">
                <img src="/assets/course_thumbnail_102.png" border="0" />
            </a>
    </div>
</div>


<hr>