
<span data-sumome-listbuilder-embed-id="5d78359fc7a21b676a198de1dd6fcae148f4c4abfe51faae0c940d74803d06e5"></span>

<!-- <br>
<hr>

<div class="row">
    <div class="col-md-8">
        <h2 class="text-center" style="margin-top: 0px !important;">Learn Data Science for Business</h2>

        <p class="text-center">
            Learn the foundations of data science for business: R Skills, Machine Learning, Data Wrangling, Visualization, and Reporting.
        </p>

        <p class="text-center" style="font-size:30px;">
        <a href="https://university.business-science.io/p/ds4b-101-r-business-analysis-r"><strong>Start Learning Today!</strong></a> 
        </p> 
    </div>

    <div class="col-md-4">
            <a href="https://university.business-science.io/p/ds4b-101-r-business-analysis-r">
                <img src="/assets/course_thumbnail_101.png" border="0" />
            </a>
    </div>
</div>


<hr> -->
