<!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">

                    <div class="footer-col col-md-4">
                        <h3 class="footer">About the Site</h3>
                        <p>This site is dedicated to using data science and analytics in a variety of business and investment settings to gain insights beyond face-value. <a href="/about.html">Learn more</a>.</p>
                    </div>

                    <div class="footer-col col-md-4">
                        <h3 class="footer">Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="{{ site.url }}/atom.xml" class="btn-social btn-outline"><i class="fa fa-fw fa-rss"></i></a>
                            </li>
                            <li>
                                <a href="mailto:{{ site.author.email }}" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/mdancho84" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/mattdancho" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer-col col-md-4">
                        <!-- <h3 class="footer">Location</h3>
                        <p>State College, PA</p> -->
                        <h3 class="footer">Interested?</h3>
                        <div class="well">
                            <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=mattdancho', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p style="color: #2c3e50;">Get <em>Business Science</em> updates:</p>
                                        <p><input type="text" style="width:90%; color: #2c3e50; padding-left: 4px;" name="email" placeholder="email address" /></p>
                                        <input type="hidden" value="mattdancho" name="uri"/>
                                        <input type="hidden" name="loc" value="en_US"/>
                                    </div>

                                    <div class="col-sm-12 col-md-6">
                                        <input type="submit" value="Subscribe" class="btn btn-primary btn-sm" style="margin-bottom: 8px;"/>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p class="text-center"><a href="http://feeds.feedburner.com/mattdancho"><img src="http://feeds.feedburner.com/~fc/mattdancho?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></p>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; www.mattdancho.com 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>