<!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">

                    <div class="footer-col col-md-4">
                        <h3 class="footer">About the Site</h3>
                        <p>This site is dedicated to using data science and analytics in a variety of business and investment settings to gain insights beyond face-value. <a href="/about.html">Learn more</a>.</p>
                    </div>

                    <div class="footer-col col-md-4">
                        <h3 class="footer">Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="{{ site.url }}/atom.xml" class="btn-social btn-outline"><i class="fa fa-fw fa-rss"></i></a>
                            </li>
                            <li>
                                <a href="mailto:{{ site.author.email }}" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/mdancho84" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/mattdancho" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer-col col-md-4">
                        <h3 class="footer">Location</h3>
                        <p>State College, PA</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; www.mattdancho.com 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>