<!-- Footer -->
    <footer class="text-center">
        <div class="footer-above" style="">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <h5>Disclaimer</h5>
                        <p>
NOTICE TO ALL CUSTOMERS/USERS OF BUSINESS SCIENCE COURSES: BUSINESS SCIENCE DOES NOT HOLD ITSELF OUT AS A POST SECONDARY SCHOOL AND PROVIDES NO EDUCATIONAL STATE CREDITS NOR ANY STATE AUTHORIZED DEGREES OR CERTIFICATES THAT COULD BE USED FOR POST SECONDARY SCHOOL BENEFITS OR ALTERNATIVES OF ANY KIND. </p>
                        <p>Results may vary and testimonials are not claimed to represent typical results. All testimonials are real. These results are meant as a showcase of what the best, most motivated, and driven data scientists have done and should not be taken as average or typical results.</p>
                    </div>
                    
                </div>
                
                <!-- Padding -->
                <br /><br />
            </div>
        </div>
        
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; www.business-science.io {{ 'now' | date: "%Y" }}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button -->
    <div class="scroll-top page-scroll" id="top-link-block">
            <a class="btn btn-primary" href="#page-top" style="box-shadow: 0px 3px 3px rgba(0, 0, 0, .25);">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
