<!-- Footer -->
    <footer class="text-center">
        <div class="footer-above" style="">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <img class="pull-left hidden-xs" src="/img/business-science-logo.png" alt="Business Science Logo" style="-webkit-filter: drop-shadow(5px 5px 5px #222);width:150px;">
                        <img class="visible-xs" src="/img/business-science-logo.png" alt="Business Science Logo" style="-webkit-filter: drop-shadow(5px 5px 5px #222);width:100px;margin-left:auto;margin-right:auto;">
                    </div>
                    <div class="col-md-8 col-sm-12" style="text-align:right;">
                        <div class="col-sm-12 col-md-4">
                            <h4>Company</h4>
                            <ul style="list-style-type:none;">
                                <li><a href="/about.html">About</a></li>
                                <li><a href="/contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h4>Resources</h4>
                            <ul style="list-style-type:none;">
                                <li><a href="http://bit.ly/learning_labs" target="_blank">Learning Labs</a></li>
                                <li><a href="/blog/index.html">Blog</a></li>
                                <li><a href="/learn.html#cheatsheet-learn">Cheat Sheets</a></li>
                                <li><a href="/software.html">Software</a></li>
                                <li><a href="/app-gallery.html">App Gallery</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <h4>Follow Us</h4>
                            <ul style="list-style-type:none;">
                                <li><a href="http://bit.ly/data-fundamentals" target="_blank">DS Newsletter</a></li>
                                <li><a href="{{ site.author.linkedin }}" target="_blank">LinkedIn</a></li>
                                <li><a href="{{ site.author.twitter }}" target="_blank">Twitter</a></li>
                                <li><a href="{{ site.author.github }}" target="_blank">GitHub</a></li>
                                <li><a href="{{ site.author.facebook }}" target="_blank">Facebook</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Padding -->
                <br /><br /><br />
            </div>
        </div>
        
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; www.business-science.io 2020
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button -->
    <div class="scroll-top page-scroll" id="top-link-block">
            <a class="btn btn-primary" href="#page-top" style="box-shadow: 0px 3px 3px rgba(0, 0, 0, .25);">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
