<!-- CTA before Footer -->
<div class="container testimonial-cover" style="margin-bottom:0px;">
  <div class="row">
    <div class="col-sm-12 text-center">
      <br>
      <br>
      <h1>
        Ready to<br><strong>accelerate your career?</strong>
      </h1>
      <a class="btn btn-lg btn-success" href="https://sso.teachable.com/secure/173166/users/sign_up?reset_purchase_session=1" 
      target="_blank" style="max-width:350px;padding-right:80px;padding-left:80px;">
        <p style="font-size:24px;margin:0px;">Enroll Now</p>
      </a>
    </div>
  </div>
</div>
