<!-- Split 1: Call to action -->
<aside>
  <div class = "container" style="padding-top: 0px; padding-bottom: 0px;">
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8 text-center">
          <!--<h3>Your Strategic Analytics Partner</h3>-->
          <p><em>Send us a quick message letting us know what you need help with, and we'll contact you within 24 hours. <strong>30 minute consultations are absolutely free.</strong>
          </em></p>
      </div>
    </div>
    <div class = "row">
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <a href="/contact.html" class="btn btn-outline" style="width:100%">
            <!-- <i class="fa fa-area-chart fa-1x"></i> -->
            Schedule FREE Consultation
        </a>
      </div>
    </div>
  </div>
</aside> <!-- End Split 1 -->