

<div class="container testimonial-cover" style="background-color: #f1f1f1; width: 100%; padding-top:40px">
    
    <div id="cover" class="container well" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="col-md-8">
            <h1 style="padding-bottom: 0px !important;" class="text-center">Business Science</h1>
            <h2>Data Science Courses for Business</h2>
            <p class="subtitle">
                Learn the data science skills to <strong><em>accelerate your career</em></strong> in 6-months or less.
            </p>
            <p class="benefits hidden-xs hidden-sm" style="padding-top: 20px;">
                5-10 Hours Per Week.&nbsp; 80/20 Tools.&nbsp; End-To-End Business Projects.
            </p>
        </div>
                        
        <div class="hidden-xs hidden-sm" style="padding-top:60px;"><!-- additional spacer for larger screen size--></div>
                            
        <div class="col-md-4 text-center" style="padding-top:10px;">
            <div class="thumbnail" style="color:#2c3e50;">
                <div class="create-account-block">
                                        
                    <form>
                        <p style='font-size: 17px; color: #6b6b6b;'>Join over 30,000 Data Scientists</p>
                        <h4>DATA SCIENCE<br>CHEAT SHEETS FOR FREE!</h4>
                        <h4><em>Choose your interest:</em></h4>
                        <p class="text-left" style="padding-left: 14px;">
                            <input name="cheatsheet-option" type="radio" onclick="toggleCheatSheetDownload('r');" value="Download R Cheatsheet" checked="checked">&nbsp; Interested in R <br>
                            <input name="cheatsheet-option" type="radio" onclick="toggleCheatSheetDownload('python');" value="Download Python Cheatsheet">&nbsp; Interested in Python <br>
                            <input name="cheatsheet-option" type="radio" onclick="toggleCheatSheetDownload('segmentation');" value="Download Segmentation Cheatsheet">&nbsp; Interested in Segmentation <br>
                            <input name="cheatsheet-option" type="radio" onclick="toggleCheatSheetDownload('ml');" value="Download ML Cheatsheet">&nbsp; Interested in Machine Learning
                        </p>
                        <!-- <div id="download-default">
                            <a id="cheatsheet-download" data-sumome-listbuilder-id="" class="btn btn-lg btn-info" style="color:#fff;" disabled>Click Here to Download!</a>
                        </div> -->
                        <div id="download-r" style="display: block;">
                            <a id="cheatsheet-download" data-sumome-listbuilder-id="6a54f0f0-90ea-4488-bddd-1f583c280dca" class="btn btn-lg btn-info" style="color:#fff;">Click Here to Download!</a>
                        </div>
                        <div id="download-python" style="display: none;">
                            <a id="cheatsheet-download" data-sumome-listbuilder-id="a411aca8-9fa9-4774-8e48-daeb1a34a8a1" class="btn btn-lg btn-info" style="color:#fff;">Click Here to Download!</a>
                        </div>
                        <div id="download-segmentation" style="display: none;">
                            <a id="cheatsheet-download" data-sumome-listbuilder-id="d72caf53-29f8-4543-a5bb-5adf5e7fa396" class="btn btn-lg btn-info" style="color:#fff;">Click Here to Download!</a>
                        </div>
                        <div id="download-ml" style="display: none;">
                            <a id="cheatsheet-download" data-sumome-listbuilder-id="b48252d6-16f8-4cb8-a817-5778e4c938ee" class="btn btn-lg btn-info" style="color:#fff;">Click Here to Download!</a>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

</div> <!-- end Cover Container -->