


<div class="container testimonial-cover" style="background-color: #f1f1f1; width: 100%; padding-top:40px; margin-bottom:0px;">

    <div id="cover" class="container well" style="background-color: rgba(0, 0, 0, 0.6);">
        <!-- Star Rating -->
        <div class="text-center" style="padding-bottom:0px;margin:0 auto;">
            <img class="img img-responsive" src="/img/five_stars.png" alt="" style="max-width:100px;display:inline-block;">
            <p style="font-size:16px;display:inline-block;">4.9 of 5 Stars from 5,684+ Satisfied Students Learning Data Science for Business</p>   
        </div>

        <div class="col-md-8" >
            
            <h1 class="" style="padding-bottom: 0px !important;margin-top:0px !important;" >Struggling to become a data scientist?</h1>
            
            <h2>Not anymore.</h2>
            
            <!-- Solution - Large Screens -->
            <div class="subtitle">
                Gain the skills that businesses <em>actually</em> need. Transition into data science, collect promotions, get raises, and <em>accelerate</em> your career in <strong>under 6-months</strong>. 
            </div>

            <!-- <div class="hidden-sm hidden-xs">
                <div class="subtitle">Business-first data science courses that <em>actually</em> work:</div>
            
                <div class="item">
                    <div class="number">1</div>
                    <div class="item-text">Start on Day 1 by solving <strong>Real Business Problems</strong>.</div>
                </div>
                <div class="item">
                    <div class="number">2</div>
                    <div class="item-text">By Day 90 you've built <strong>1000's of Skills</strong> that are transforming you from beginner to expert.</div>
                </div>
                <div class="item">
                    <div class="number">3</div>
                    <div class="item-text">Become the <strong><em>6-Figure Data Scientist </em></strong> you were meant to be in <strong>under 6-months</strong>.</div>
                </div>

                <div class="col-md-12">
                    <p class="text-center benefits" style="padding-top: 20px;">
                        5-10 Hours Per Week.&nbsp; Real-Time Support.&nbsp; End-To-End Business Projects.
                    </p>
                </div>

            </div> -->

             <!-- Solution - Small Screens -->
            
             <div class="col-sm-12 ">
    
                <p class="btn-lg-green-align">
                    <a href="https://university.business-science.io/p/5-course-bundle-machine-learning-web-apps-time-series" class="btn btn-lg-green btn-lg-green-mobile" style="width:100%;margin-bottom:20px;max-width: 500px;box-shadow: 0px 0px 5px #808080;">
                        Start Now 👉
                    </a>
                </p>
    
            </div>

        </div>

        <div class="hidden-xs hidden-sm" style="padding-top:50px;"><!-- additional spacer for larger screen size--></div>

        <div class="col-md-4 text-center" style="padding-top:10px;">
            <div class="thumbnail" style="color:#2c3e50;">
                <div class="create-account-block">

                    <form>
                        <p style='font-size: 17px; color: #6b6b6b;'>Join over 100,000+ Data Scientists</p>
                        <h4>DATA SCIENCE<br>CHEAT SHEETS FOR FREE!</h4>
                        <h4><em>Choose your interest:</em></h4>
                        <p class="text-left" style="padding-left: 14px;">
                            <input name="cheatsheet-option" type="radio" onclick="toggleCheatSheetDownload('r');" value="Download R Cheatsheet" checked="checked">&nbsp; Interested in R <br>
                            <input name="cheatsheet-option" type="radio" onclick="toggleCheatSheetDownload('python');" value="Download Python Cheatsheet">&nbsp; Interested in Python <br>
                            <input name="cheatsheet-option" type="radio" onclick="toggleCheatSheetDownload('segmentation');" value="Download Segmentation Cheatsheet">&nbsp; Interested in Segmentation <br>
                            <input name="cheatsheet-option" type="radio" onclick="toggleCheatSheetDownload('ml');" value="Download ML Cheatsheet">&nbsp; Interested in Machine Learning
                        </p>
                        <!-- <div id="download-default">
                            <a id="cheatsheet-download" data-sumome-listbuilder-id="" class="btn btn-lg btn-info" style="color:#fff;" disabled>Click Here to Download!</a>
                        </div> -->
                        <div id="download-r" style="display: block;">
                            <a id="cheatsheet-download" data-sumome-listbuilder-id="6a54f0f0-90ea-4488-bddd-1f583c280dca" class="btn btn-lg btn-info" style="color:#fff;">Click Here to Download!</a>
                        </div>
                        <div id="download-python" style="display: none;">
                            <a id="cheatsheet-download" data-sumome-listbuilder-id="a411aca8-9fa9-4774-8e48-daeb1a34a8a1" class="btn btn-lg btn-info" style="color:#fff;">Click Here to Download!</a>
                        </div>
                        <div id="download-segmentation" style="display: none;">
                            <a id="cheatsheet-download" data-sumome-listbuilder-id="d72caf53-29f8-4543-a5bb-5adf5e7fa396" class="btn btn-lg btn-info" style="color:#fff;">Click Here to Download!</a>
                        </div>
                        <div id="download-ml" style="display: none;">
                            <a id="cheatsheet-download" data-sumome-listbuilder-id="b48252d6-16f8-4cb8-a817-5778e4c938ee" class="btn btn-lg btn-info" style="color:#fff;">Click Here to Download!</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- CTA - Large Screens -->
        <!-- <div class="col-sm-12 hidden-sm hidden-xs">

            <div class="subtitle text-center">Learn more in our free 40-minute masterclass, the 10 Skills to become a<br> <strong>6-Figure Data Scientist</strong>.</div>

            <p class="text-center ">
                <a href="https://learn.business-science.io/free-rtrack-masterclass" class="btn btn-lg-green" style="width:80%;margin-bottom:20px;max-width: 500px;box-shadow: 0px 0px 5px #808080;">
                    Watch our <u>free</u> masterclass now 👉
                </a>
            </p>

        </div> -->
        

        


    </div>
</div> <!-- end Cover Container -->
