<!-- Separator - Support -->
<div class="container team-sport-cover" style="box-shadow: 0px 0px 10px #808080;">
    <h1 class="text-center">
        When you have questions,<br>we are here to<br><strong>help</strong><br>
    </h1>
</div>

<!-- Instructor Support -->
<div class="container">
  <div class="row">
      <div class="col-md-8 col-sm-12 col-md-offset-2 text-center">
          <h3>😁 Instructor and Community Support</h3>
          <p class="text-center">You have access to our instructors and your peers through our Private Slack Channel.</p>
          <div class="row">
            <img class="shadow" src="/img/curriculum/bsu_slack_channel.jpg" alt="BSU Slack Channel" style="width:100%"/>
          </div>
          <br />
          <br><br>
      </div>
  </div>

</div>

<br />