
<div class="container home-testimonial-carousel" style="margin-top:20px;margin-bottom:50px;">

    <div class="text-center" style="max-width:850px;margin-left:auto;margin-right:auto;">
      <h2 class="home-header-h2" style="font-weight:300">
          We've built the 5-Course R-Track Program to share the proven blueprint we've used to<br>
          <span class="home-header-h1" style="font-weight:600;">help over 5,684+ motivated students land data science jobs.</span>
          
      </h2>
      <h3 class="home-header-h3" style="font-weight:300;margin-top:5px !important;">
        (and collect promotions, get raises, pass interviews, build portfolios, and accelerate their careers)
      </h3>
      
    </div>

    <div class="" style="max-width:850px;margin-left:auto;margin-right:auto;">
    
      <h3 class="text-center" style="font-weight:300">In the 5-Course R-Track, you will:</h3>

      <div class="table-painpoints" style="margin-top:30px;">
        
        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">✅</p>
            </div>
            <div class="col-xs-10">
                <p><strong>Follow a proven framework</strong> for solving business problems with data science that gives companies the confidence in hiring you.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">✅</p>
            </div>
            <div class="col-xs-10">
                <p><strong>Learn high-performance tools</strong> that create 100s of models in minutes, enable explainability for stakeholders, and increase your productivity.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">✅</p>
            </div>
            <div class="col-xs-10">
                <p><strong>Gain business project experience from Day 1.</strong> By day 30 you've applied 100s of different skills to business problems. By Day 90 you've completed multiple business projects. </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">✅</p>
            </div>
            <div class="col-xs-10">
                <p><strong>Learn programming for business</strong>, which is accomplished through our unique blend of business problem solving, bite-sized lessons, progressive learning + skill integration, and project-based learning.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">✅</p>
            </div>
            <div class="col-xs-10">
                <p><strong>Use our cheat sheets and frameworks</strong> that simplify learning programming, business problem-solving, and machine learning.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">✅</p>
            </div>
            <div class="col-xs-10">
                <p><strong>Collaborate with our community of 5,684+ data scientists</strong> that are learning right with you. And get access to the founder, Matt, who answers questions and keeps you learning.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">✅</p>
            </div>
            <div class="col-xs-10">
                <p><strong>Build amazing projects</strong> that companies will be drooling over. Get companies to compete for you (after taking one look at your project portfolio).</p>
            </div>
        </div>

      </div>
      
    </div>

</div>
  

