
<div class="container">

    <div class="col-md-8">

        <div class="" style="max-width:1000px;margin-left:auto;margin-right:auto;">
            
            <!-- <p class="home-p-lg text-center" style="color:blue;max-width:850px;font-weight:300; font-size:30px;">Want to become a Business Scientist? <br>(and earn 17% more?)</p>   -->
            <h1 class="home-header-1" style="margin-top:10px;">
                The Data Science Training that follows your Career Path
            </h1>
            <p class="" style="font-weight:300; font-size:20px;">Start your data science career by learning how to analyze data and business problems. Use software, code, and AI tools that will help your Data Science Career launch to the next level. Follow our R-Track Career Path to earn 6-figures or more as a Data Analyst, Data Scientist, or Senior Data Scientist.</p>
            
        </div>

        <div class="thumbnail" style="box-shadow: 0px 0px 10px #808080;">
            <img src="/img/career_path_rtrack.jpg" alt="Career Path R-Track Program">
        </div>

        <div class="col-sm-12 text-center">
            
            <p class="">
                <a href="https://university.business-science.io/p/5-course-bundle-machine-learning-web-apps-time-series?el=website" class="btn btn-lg-green btn-lg-green-mobile" style="width:100%;margin-bottom:20px;max-width: 500px;box-shadow: 0px 0px 5px #808080;white-space: normal;">
                    Start Your R-Track Courses Now! 👉
                    
                </a>
            </p>

        </div>

        <div class="row equal" style="padding-bottom:10px;">
            
            <div class="col-md-4">
                <div class="thumbnail" style="box-shadow: 0px 0px 0px #808080;">
                    <div class="caption">
                        <p><strong>✅ Discover What Businesses Want</strong></p>
                        <p style="font-size:20px;">Identify what business owners truly want & deliver exactly what they need.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail" style="box-shadow: 0px 0px 0px #808080;">
                    <div class="caption">
                        <p><strong>✅ Follow a Proven Framework</strong></p>
                        <p style="font-size:20px;">Solve data science problems with a system that works!</p>
                    </div>
                </div>
            </div>
            
            
            
    
            <div class="col-md-4">
                <div class="thumbnail" style="box-shadow: 0px 0px 0px #808080;">
                    <div class="caption">
                        <p><strong>✅ Gain Business Project Experience Day 1</strong></p>
                        <p style="font-size:20px;">Manage projects for clients with a track record of success. </p>
                    </div>
                </div>
            </div>        
    
        </div>
    
        <div class="row equal" style="padding-bottom:10px;">
    
            <div class="col-md-4">
                <div class="thumbnail" style="box-shadow: 0px 0px 0px #808080;">
                    <div class="caption">
                        <p><strong>✅ Learn High-Performance Machine Learning Tools</strong></p>
                        <p style="font-size:20px;">Complete data analysis in minutes. </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="thumbnail" style="box-shadow: 0px 0px 0px #808080;">
                    <div class="caption">
                        <p><strong>✅ Learn Programming For Business</strong></p>
                        <p style="font-size:20px;">Step by step progressive learning modules that fast track results. </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="thumbnail" style="box-shadow: 0px 0px 0px #808080;">
                    <div class="caption">
                        <p><strong>✅ Use Our Cheat Sheets and Frameworks</strong></p>
                        <p style="font-size:20px;">Simplify tasks with instant access to data science cheat sheets.</p>
                    </div>
                </div>
            </div>        
    
        </div>
    
        <div class="row equal" style="padding-bottom:10px;">
    
            <div class="col-md-4">
                <div class="thumbnail" style="box-shadow: 0px 0px 0px #808080;">
                    <div class="caption">
                        <p><strong>✅ Collaborate With Our Community of 6,284+ Data Scientists</strong></p>
                        <p style="font-size:20px;">Open platform learning with an experienced Data Science Community.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="thumbnail" style="box-shadow: 0px 0px 0px #808080;">
                    <div class="caption">
                        <p><strong>✅ Build 8 Amazing Projects</strong></p>
                        <p style="font-size:20px;">Build a portfolio of work that shows your expertise to potential clients. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail" style="box-shadow: 0px 0px 0px #808080;">
                    <div class="caption">
                        <p><strong>✅ Beginner Friendly</strong></p>
                        <p style="font-size:20px;">No math, statistics, or coding experience required. </p>
                    </div>
                </div>
            </div>
    
        </div>

    </div>

    <div class="col-md-4">

        <div class="thumbnail" style="box-shadow: 0px 0px 3px #808080;">
            <img src="/assets/data-science-workshop-019.jpg" alt="Data Science Workshops">
            <div class="caption">
               <h3>LIVE Data Science Workshop of the Month</h3>
               <p>Join us monthly for industry workshops and data analytics training.</p>
              
               <p class="text-center">
                    <a href="https://learn.business-science.io/registration-2?el=website" class="btn btn-success btn-lg" style="background-color:#13d3ad; width:100%; margin-bottom:20px;max-width: 500px;box-shadow: 0px 0px 5px #808080; white-space: normal;">
                        Sign Up for our Next LIVE Data Science Workshop! 👉
                        
                    </a>
                </p>

            </div>
        </div>

        <div class="thumbnail" style="box-shadow: 0px 0px 3px #808080;">
            <img src="/assets/masterclass-018.jpg" alt="Data Science Workshops">
            <div class="caption">
               <h3>40-Minute Data Science Masterclass</h3>
               <p>Learn about our program and get an special discount.</p>
              
               <p class="text-center">
                    <a href="https://learn.business-science.io/free-rtrack-masterclass?el=website" class="btn btn-success btn-lg" style="background-color:#13d3ad; width:100%; margin-bottom:20px;max-width: 500px;box-shadow: 0px 0px 5px #808080; white-space: normal;">
                        Watch the Free 40-Minute R-Track Masterclass! 👉
                        
                    </a>
                </p>

            </div>
        </div>

        <div class="thumbnail" style="box-shadow: 0px 0px 3px #808080;">
            <img src="/assets/data-science-ebook-019.jpg" alt="Data Science Workshops">
            <div class="caption">
               <h3>155-Page Data Science E-Book</h3>
               <p>Learn what's ahead of you in your data science journey (and cut your path in half)</p>
              
               <p class="text-center">
                    <a href="https://learn.business-science.io/if-i-had-to-learn-data-science-all-over-again?el=website" class="btn btn-success btn-lg" style="background-color:#13d3ad; width:100%; margin-bottom:20px;max-width: 500px;box-shadow: 0px 0px 5px #808080; white-space: normal;">
                        Cut Your Data Science Journey in Half! 👉
                        
                    </a>
                </p>

            </div>
        </div>

    </div>
    
</div>

