
<div class="container-fluid">
    
    <div class="row">
        <h1 class="text-center">Testimonials</h1>
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="media thumbnail" style="padding:10px;">
                <div class="media-left media-middle">
                    <img class="media-object img-circle" src="/assets/profile-jennifer-cooper.jpg" alt="Data Science Testimonial Jennifer" style="max-width:150px;">
                </div>
                <div class="media-body">
                    <p style="font-size:20px;">
                        Thanks to Matt and what I’ve learned so far, I was able to do an in-depth analysis of Consumer Financial Protection Bureau (CFPB) data, following his Business Science Problem Framework and completing the project using RMarkdown. <strong>The polished, finished product impressed the hiring manager so much, he was willing to fast-track an offer.</strong>
                    </p>
                  <h4 class="media-heading" style="color:#18bc9c">Jennifer Cooper<br><small>VP Strategic Analytics<br>JP Morgan</small></h4>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="media thumbnail" style="padding:10px;">
                <div class="media-left media-middle">
                    <img class="media-object img-circle" src="/assets/profile-hernan-escudero.jpg" alt="Data Science Testimonial Hernan" style="max-width:150px;">
                </div>
                <div class="media-body">
                    <p style="font-size:20px;">
                        The courses have an astonishing summarization of technologies, languages and approaches, all wrapped up and made as easy as possible. I was able to use the data science education to to build my own Shiny Apps portal as a portfolio. <strong>That was the key that helped me land a national research team position.</strong>
                    </p>
                  <h4 class="media-heading" style="color:#18bc9c">Hernán Escudero<br><small>Founder and Machine Learning Engineer<br>deployr</small></h4>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="media thumbnail" style="padding:10px;">
                <div class="media-left media-middle">
                    <img class="media-object img-circle" src="/assets/profile-amit-rathore.jpg" alt="Data Science Testimonial Amit" style="max-width:150px;">
                </div>
                <div class="media-body">
                    <p style="font-size:20px;">
                        I am extremely grateful to have found you and your courses last year. I used to feel imposter syndrome. When I first started working, my skills were lacking compared to others. Now, I feel like I belong and can take on any new challenge. <strong>I would not have my new job if it wasn't for you. In short, you have changed my life and the direction of my career.</strong> 
                    </p>
                  <h4 class="media-heading" style="color:#18bc9c">Amit Rathore<br><small>Machine Learning Senior Associate<br>PwC</small></h4>
                </div>
            </div>

        </div>

    </div>

    
    
</div> 

