

<div class="container" style="padding-top:50px;padding-bottom:50px;">
    <div class="row">
        <div class="col-sm-12 ">

            <h1 class="text-center home-header-h1" style="font-weight:300;">Become a 6-Figure Data Scientist</h1>
            <p class="text-center">We've helped thousands of students become 6-figure data scientists.</p>

            {% include home_mini_success_carousel.html  %}

            <h2 class="text-center" style="font-weight:300;">
                Make 6-figures. Launch your career. And become a Data Scientist! 

            </h2>
    
            <p class="text-center">
                <a href="https://university.business-science.io/p/5-course-bundle-machine-learning-web-apps-time-series?el=website" class="btn btn-lg-green btn-lg-green-mobile" style="width:100%;margin-bottom:20px;max-width: 500px;box-shadow: 0px 0px 5px #808080;">
                    Start Your Classes Now! 👉
                </a>
            </p>
    
        </div>
    </div>
</div>