

<div class="container" style="padding-top:50px;padding-bottom:50px;">
    <div class="row">
        <div class="col-sm-12 ">

            <h2 class="text-center" style="font-weight:300;">Become the business data scientist you were meant to be...</h2>
    
            <p class="text-center">
                <a href="https://university.business-science.io/p/5-course-bundle-machine-learning-web-apps-time-series" class="btn btn-lg-green btn-lg-green-mobile" style="width:100%;margin-bottom:20px;max-width: 500px;box-shadow: 0px 0px 5px #808080;">
                    Start Now 👉
                </a>
            </p>
    
        </div>
    </div>
</div>