<!-- Separator - R -->
<div class="container text-center results-cover" style='min-height:350px;margin-bottom:0px;padding-bottom:50px;box-shadow: 0px 0px 10px #808080;'>
    <div class="row">
      <h1 class="text-center">
          Meet the </br><strong>R-Track Courses<strong>
      </h1>
    </div>
  </div>
  
  <div class="container-fluid text-center" style="padding-bottom:50px;margin-bottom:0px;background-color:white;">
    <h1 >5 Data Science Courses <br><small>that work together to <strong>accelerate</strong> your career</small></h1>
    <p>They're so powerful, we put them into a system called the 5-Course R-Track.</p>
    {% include r_track_courses.html  %}
  </div>
  
  
  
  
  
  <!-- R-Track Courses -->
  
  <div class="container text-center team-cover" style='min-height:350px;margin-bottom:0px;padding-bottom:50px;box-shadow: 0px 0px 10px #808080;'>
    <div class="row text-center">
      <h1 class="" style="padding-bottom:0px;margin-bottom:20px;">What can the </h1>
      <img class="img img-responsive logo-shadow" src="/img/rtrack_logo_white.png" alt="5 Course R-Track" style="height:auto; padding-top:12px;padding-bottom:12px;margin-left:auto;margin-right:auto; max-width:95%;">
      <h1 style="margin-top:30px !important;">do for you?</h1>
    </div>
  </div>
  
  <div class="container-fluid well" style="margin-bottom:0px;background-color:#eeeeee;box-shadow: 0px 0px 10px #808080;">
    {% include r_track_short_review.html %}
  </div>
  
  <div class="container" style='min-height:350px;margin-bottom:0px;padding-top:50px;padding-bottom:50px;background-color:white;width:100%;'>
  
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12" style="color:white;">
  
        <div class="row">
      <div id="cover" class="container well" style="background-color: #2c3e50;width:100%;">
  
        <div class='text-center' style="min-height:85px;">
  
           <img class="img img-responsive logo-shadow" src="/img/rtrack_logo_white.png" alt="5 Course R-Track" style="height:auto; padding-top:12px;padding-bottom:12px;margin-left:auto;margin-right:auto; max-width:95%;">
  
           <br />
           <p class="subtitle" style='margin-top:20px;'>Go from zero-experience to full-time data scientist <span style='color:#13d3ad'><strong><u>WITHOUT</u></strong></span> spending years learning data science.</p>
        </div>
  
        <div style="margin-top:20px;">
          <a href="https://university.business-science.io/p/5-course-bundle-machine-learning-web-apps-time-series">
            <img class = "img img-responsive" src="/img/5_course_r_track.jpg" alt="5-Course R-Track" />
          </a>
  
        </div>
  
        <div class="col-md-6 col-md-offset-3 col-sm-12">
          <a href="https://university.business-science.io/p/5-course-bundle-machine-learning-web-apps-time-series"
          class="btn btn-lg-green" style="width:100%;">
              <strong>Start the 5-Course R-Track Today</strong>
          </a>
        </div>
  
      </div>
    </div>
  
      </div>
  
  
  
    </div>
  
  </div>