<!-- Separator - Support -->
<div class="container text-center work-happy-cover-2" style='min-height:350px;margin-bottom:0px;padding-top:50px;padding-bottom:50px;box-shadow: 0px 0px 10px #808080;'>
    <div class="container well" style = "background-color:#0c0c0ccc">
    <h1 class="text-center">
        FAQ
    </h1>
    <h2>Frequently Asked Questions</h2>
    </div>

</div>

<!-- Instructor Support -->
<div class="container">
  <div class="row">
      <div class="col-md-8 col-sm-12 col-md-offset-2 text-center">
          <h3>😁 Instructor and Community Support</h3>
          <p class="text-center">You have access to our instructors and your peers through our Private Slack Channel.</p>
          
          


          <br />
          <br><br>
      </div>
  </div>

</div>

<br />