

<div>
    <div class="owl-carousel">
        <div class="thumbnail"> 
            <img src="/img/success_stories/success_story_habbee_federal_reserve.jpg" alt="Habbee made a killer portfolio and got a job at the US Federal Reserve!" style="width:320px;height:180px;"> 
        </div>
        
        <div class="thumbnail">
            <img src="/img/success_stories/success_story_will_verizon.jpg" alt="Will landed $100,000 base offer with Verizon" style="width:320px;height:180px;">
        </div>

        <div class="thumbnail">
            <img src="/img/success_stories/success_story_jennifer_jpmorgan.jpg" alt="Jennifer landed a Senior VP Role at JP Morgan Chase!" style="width:320px;height:180px;">
        </div>

        <div class="thumbnail">
            <img src="/img/success_stories/success_story_amit_pwc.jpg" alt="Amit got a job at PWC (Fortune 500 Consulting Firm)!" style="width:320px;height:180px;">
        </div>

        <div class="thumbnail">
            <img src="/img/success_stories/success_story_diana_aircanada.jpg" alt="AIR CANADA was searching for a Senior Data Scientist for over 1 year. Diana got the job!" style="width:320px;height:180px;">
        </div>

        <div class="thumbnail">
            <img src="/img/success_stories/success_story_janio_google.jpg" alt="Janio increased his confidence and landed a job at Google!" style="width:320px;height:180px;">
        </div>
        
    </div>
</div>