<div class="container home-painpoints" style="margin-top:20px;margin-bottom:50px;">

    <div class="text-center" style="max-width:650px;margin-left:auto;margin-right:auto;">
        <h1 class="home-header-h2" style="font-weight:300">
            <strong><span style="color:red;">
                Long gone are the days of the 10+ person data science team.
            </span></strong>

        </h1>
        <h1 class="home-header-h2" style="font-weight:300">
            <span class="home-header-h1" style="font-weight:600;">They are too slow.</span> 
            <br><small style="color:#2c3e50;">(and companies can't wait 15 months for a failed project) </small>
        </h1>        
    </div>

    <div class="table-painpoints" style="margin-top:30px;">
        
        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">❌</p>
            </div>
            <div class="col-xs-10">
                <h4>Taking 15 months to complete a project</h5>
                <p>The average data science team takes 15 months to complete one project (and that's if everything goes right the first time).</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">❌</p>
            </div>
            <div class="col-xs-10">
                <h4>A $1,240,000 cost of a full-stack data science team</h5>
                <p>A 10-person team consisting of 2-3 data engineers, 2-3 data scientists, a project manager, DevOps, IT, etc with an average salary of $124,000 per person... Carries an annually recuring cost of $1,240,000.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">❌</p>
            </div>
            <div class="col-xs-10">
                <h4>87% of projects fail</h5>
                <p>According to <a href="https://venturebeat.com/ai/why-do-87-of-data-science-projects-never-make-it-into-production/" target="_blank">Venture Beat</a>, 87% of data science projects never make it into production.</p>
            </div>
        </div>

    </div>
    
    <div class="home-p-lg text-center" style="max-width:650px;margin-left:auto;margin-right:auto;font-size:36px;padding-top:20px;">
        What do you think is going to happen to these people (in this economy)? Maybe there is a different way.
    </div>


    

</div>