
<div class="container home-testimonial-carousel" style="margin-top:20px;margin-bottom:50px;">

    <div class="text-center" style="max-width:850px;margin-left:auto;margin-right:auto;">
      <h2 style="font-weight:300">
          We've built the 5-Course R-Track Program to share the proven blueprint we've used to<br>
          <span style="font-weight:600;font-size:48px;">help over 5,684+ high-performing students</span><br> 
          land data science jobs, get promotions, collect raises, pass interviews, build portfolios, and succeed in their careers.<br>
      </h2>
      
    </div>

    <div class="" style="max-width:850px;margin-left:auto;margin-right:auto;">
    
      <h3 class="text-center" style="font-weight:300">In the 5-Course R-Track, you will:</h3>

      <div class="table-painpoints" style="margin-top:30px;">
        
        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">✅</p>
            </div>
            <div class="col-xs-10">
                <p>Follow a proven framework for solving business problems with data science that gives companies the confidence in hiring you.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">✅</p>
            </div>
            <div class="col-xs-10">
                <p>Learn high-performance tools that create 100s of models in minutes, enable explainability for stakeholders, and increase your productivity.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">✅</p>
            </div>
            <div class="col-xs-10">
                <p>Gain business project experience from Day 1. By day 30 you've applied 100s of different skills to business problems. By Day 90 you've completed multiple business projects. </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">✅</p>
            </div>
            <div class="col-xs-10">
                <p>Learn programming for business, which is focused on business problem solving, spaced repetition, and creating business solutions.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">✅</p>
            </div>
            <div class="col-xs-10">
                <p>Follow cheat sheets and frameworks that help you learn programming, business problem-solving, and machine learning.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">✅</p>
            </div>
            <div class="col-xs-10">
                <p>Collaborate with our community of 5,684+ data scientists that are learning right with you. And get access to the founder, Matt, who answers questions and keeps you learning.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">✅</p>
            </div>
            <div class="col-xs-10">
                <p>Build amazing projects that companies will be drooling over. Get companies to compete for you.</p>
            </div>
        </div>

      </div>
      
    </div>

</div>
  

