<div class="container home-painpoints" style="margin-top:20px;margin-bottom:50px;">

    <div class="text-center" style="max-width:650px;margin-left:auto;margin-right:auto;">
        <h1 style="font-weight:300">
            Look, it's easy to pick up <br>some data science skills,<br>
            <span style="font-weight:600">but how do you build the skills that companies will hire you for?</span> <br>
        </h1>
        <h3 style="font-weight:300">Does any of this sound familiar?:</h3>
        
    </div>

    <div class="table-painpoints" style="margin-top:30px;">
        
        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">😞</p>
            </div>
            <div class="col-xs-10">
                <h4>I don't know what skills businesses want...</h5>
                <p>I'm not sure where to look or find out what companies actually want from data scientists.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">🛑</p>
            </div>
            <div class="col-xs-10">
                <h4>I'm struggling learning python...</h5>
                <p>I'm getting bogged down in programming concepts and it's stopping me from solving business problems.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">👶</p>
            </div>
            <div class="col-xs-10">
                <h4>I'm stuck in "hello world" hell...</h5>
                <p>I'm struggling with going beyond the "hello world" basics, and it's preventing me from getting a data science job or promotion.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">🤷‍♂️</p>
            </div>
            <div class="col-xs-10">
                <h4>My project porfolio is holding me back...</h5>
                <p>I'm overwhelmed trying to piece together a project that will get me in the door for an interview with a good company.</p>
            </div>
        </div>
        
        

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">💼</p>
            </div>
            <div class="col-xs-10">
                <h4>My lack of business knowledge is holding me back...</h5>
                <p>I'm afraid of business questions involving domain knowledge. And I don't know how to give an answer that companies want to hear.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">⏱️</p>
            </div>
            <div class="col-xs-10">
                <h4>I don't have enough time...</h5>
                <p>I'm working a full time job. And I don't have the time to figure all this stuff out.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <p class="emoji-lg pull-right">🧠</p>
            </div>
            <div class="col-xs-10">
                <h4>I'm unsure how to show my true value to a business...</h5>
                <p>I want to stand out. But, interviews aren't going well and I'm about to give up.</p>
            </div>
        </div>

    </div>
    
    <div class="text-center" style="max-width:650px;margin-left:auto;margin-right:auto;font-size:36px;padding-top:20px;">
        If it does, then you already know what a minefield it can be trying to get quality advice and support. Maybe there's a better way?

    </div>


    

</div>