<!-- Separator - Apps -->
<div class="container text-center work-happy-cover" style='min-height:350px;margin-bottom:0px;padding-top:50px;padding-bottom:50px;box-shadow: 0px 0px 10px #808080;'>
    <div class="container well" style = "background-color:#0c0c0ccc">
    <h1 class="text-center">
        Build applications and<br><strong>communicate</strong><br>insights to your organization
    </h1>
    </div>

</div>

<!-- APPS -->
<div class="container" style="">

    {% include r_track_apps.html %}

</div>