
<div class="container-fluid">

    <div class="col-md-6">
        <img class="img-responsive" src="/assets/r-tips-newsletter.png" alt="R-Tips Newsletter" style="display:block;margin-left:auto;">
        

    </div>

    <div class="col-md-6">

        <div>
            <h1>Stay up-to-date on the latest and greatest in R functionality:</h1>
            <p> Discover the latest information for data science. Explore our exclusive articles and join the discussion with over 82,000+ data science professionals! Get immediate notice for course start dates and access to free tools that catapult your data science career.</p>

            <p class="">
                <a href="https://learn.business-science.io/r-tips-newsletter-register?el=website" class="btn btn-success btn-lg" style="background-color:#13d3ad; width:100%; margin-bottom:20px;max-width: 500px;box-shadow: 0px 0px 5px #808080; white-space: normal;">
                    Sign Up for our R-Tips Newsletter! 👉
                    
                </a>
            </p>
        </div>

        

    </div>
    
</div>

