<div class="container-fluid" style="margin-bottom:50px;">
  <div class="row">
    <div class="col-md-7 col-sm-12">
      <img src="/img/homepage/macbook_bsu.gif" alt="course" style="width:100%"/>
    </div>
    <div class="col-md-4 col-sm-12">
      <h1>Learn by following an <span class="text-success">expert data scientist code</span></h1>

      <div class="item">
        <div class="number">1</div>
        <div style="font-size:20px;">Learn as your virtual mentor, Matt Dancho, walks you through large-scale data science projects</div>
      </div>
      <div class="item">
        <div class="number">2</div>
        <div style="font-size:20px;">With our community of 6,187+ data scientists, get answers at the speed of learning</div>
      </div>
      <div class="item">
        <div class="number">3</div>
        <div style="font-size:20px;">Apply your new skills to your job immediately</div>
      </div>
      <br>
      
      <p class="text-center">
        <a href="https://learn.business-science.io/free-rtrack-masterclass?el=website" class="btn btn-lg-green btn-lg-green-mobile" style="width:100%;margin-bottom:20px;max-width: 500px;box-shadow: 0px 0px 5px #808080;white-space: normal;">
           Learn more in our <u>free</u> masterclass 👉
        </a>
      </p>

      <p class="text-center">
        And, get a <strong>special webinar-only discount</strong> on the 5-Course R-Track.
      </p>
    </div>
  </div>

</div>