<!-- Separator - Python -->
<div class="container text-center journey-cover" style='min-height:350px;margin-bottom:0px;padding-top:50px;padding-bottom:50px;box-shadow: 0px 0px 10px #808080;'>
    <div class="container well" style="background-color:#0c0c0ccc">
        <h1 class="text-center">
            Meet the </br><strong>Production Track</strong> <br><small> With Python Courses</small> 
        </h1>
        <div class="" style="max-width:150px;margin-left:auto;margin-right:auto;">
        <img class="img img-responsive" src="/img/logo-python.png" alt="">
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-bottom:50px;margin-bottom:0px;">
    {% include py_track_courses.html  %}
</div>