

<div class="container-fluid" style="margin-top:0px;margin-bottom:0px; background-color:#ffffff; padding:30px;">
    
    <!-- <h1 class="home-header-h1 text-center" style="font-weight:300">
        Join over 5,000 students<br>
        <span style="font-weight:600">That have skyrocketed their careers</span> <br>
        Working at big companies. 
    </h1> -->

    <!-- <p class="text-center">Our students landed jobs at these Fortune 500 companies after taking our Business Data Scientist Track with R.</p> -->
    
    <div class="text-center" style="">
        
        <img src="/img/company-logos/3m.png" alt="" class="img-fluid" height="75" style="display:inline-block;padding-left:10px;padding-right:10px;">
        <img src="/img/company-logos/amazon-pay.png" alt="" class="img-fluid" height="75" style="display:inline-block;padding-left:10px;padding-right:10px;">
        <img src="/img/company-logos/apple-logo.png" alt="" class="img-fluid" height="75" style="display:inline-block;padding-left:10px;padding-right:10px;">
        <img src="/img/company-logos/google.png" alt="" class="img-fluid" height="75" style="display:inline-block;padding-left:10px;padding-right:10px;">
        <img src="/img/company-logos/microsoft.png" alt="" class="img-fluid" height="75" style="display:inline-block;padding-left:10px;padding-right:10px;">
        <img src="/img/company-logos/nike.png" alt="" class="img-fluid" height="75" style="display:inline-block;padding-left:10px;padding-right:10px;">
        <img src="/img/company-logos/siemens.png" alt="" class="img-fluid" height="75" style="display:inline-block;padding-left:10px;padding-right:10px;">
        <img src="/img/company-logos/uber.png" alt="" class="img-fluid" height="75" style="display:inline-block;padding-left:10px;padding-right:10px;">
        <img src="/img/company-logos/verizon.png" alt="" class="img-fluid" height="75" style="display:inline-block;padding-left:10px;padding-right:10px;">
        <img src="/img/company-logos/cvs-health.png" alt="" class="img-fluid"  style="display:inline-block;padding-left:10px;padding-right:10px;max-width:150px;">
        <img src="/img/company-logos/citibank.png" alt="" class="img-fluid" style="display:inline-block;padding-left:10px;padding-right:10px;max-width:80px;">

    </div>
   
  
  </div>