<!-- Separator - Support -->
<div class="container text-center work-happy-cover-2" style='min-height:350px;margin-bottom:0px;padding-top:50px;padding-bottom:50px;box-shadow: 0px 0px 10px #808080;'>
    <div class="container well" style = "background-color:#0c0c0ccc">
    <h1 class="text-center">
        FAQ
    </h1>
    <h2>Frequently Asked Questions</h2>
    </div>

</div>

<!-- Instructor Support -->
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 col-md-offset-2 text-center">
        <h3>Here are a few of the most common questions we get.</h3>
        <!-- <button id="collapse-init" class="btn btn-primary">
            Show All
        </button> -->
    </div>
  </div>

  <div class="row" style="margin-top:20px;">
    
    <div class="panel-group" id="accordion">
        
        {% for faq in site.data.faq %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"
                        data-toggle="collapse" 
                        data-target="#collapse{{ faq.id }}">
                        Q{{ faq.id }}: {{ faq.question }}
                    </h4>
                </div>
                <div id="collapse{{ faq.id }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ faq.answer }}
                    </div>
                </div>
            </div>
        {% endfor %}
        
        <!-- First Panel -->
        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                 <h4 class="panel-title"
                     data-toggle="collapse" 
                     data-target="#collapseOne">
                     Collapsible Group Item #1
                 </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, 
                    enim eiusmod high life accusamus terry richardson ad squid.
                </div>
            </div>
        </div> -->
        
        <!-- Second Panel -->
        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                 <h4 class="panel-title" 
                     data-toggle="collapse" 
                     data-target="#collapseTwo">
                     Collapsible Group Item #2
                 </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, 
                    enim eiusmod high life accusamus terry richardson ad squid.
                </div>
            </div>
        </div> -->
        
        <!-- Third Panel -->
        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                 <h4 class="panel-title"
                     data-toggle="collapse"
                     data-target="#collapseThree">
                     Collapsible Group Item #3
                 </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, 
                    enim eiusmod high life accusamus terry richardson ad squid.
                </div>
            </div>
        </div> -->
    </div>
  </div>

</div>

