<div class="container">

    <h1 class="home-header-1" style="margin-top:10px;">
        Learn the Skills that Companies Actually Need 
    </h1>

    <p class="" style="font-weight:300; font-size:20px;">Data science if full of pitfalls that can leave you feeling lost. Build Data Analytics skills that help you stand out in your career. And fill your job portfolio with high demand data science projects. </p>

    <div class="row">

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4>✅ Follow a Proven Framework</h4>
                    <p>Solve data science problems with a system that works!</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4>✅ Learn High-Performance Tools</h4>
                    <p>Complete data analysis in minutes. </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4>✅ Gain Business Project Experience Day 1</h4>
                    <p>Manage projects for clients with a track record of success. </p>
                </div>
            </div>
        </div>        

    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4>✅ Discover What Businesses Want</h4>
                    <p>Identify what business owners truly want & deliver exactly what they need.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4>✅ Learn Programming For Business</h4>
                    <p>Step by step progressive learning modules that fast track results. </p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4>✅ Use Our Cheat Sheets and Frameworks</h4>
                    <p>Simplify tasks with instant access to data science cheat sheets.</p>
                </div>
            </div>
        </div>        

    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4>✅ Collaborate With Our Community of 6,284+ Data Scientists</h4>
                    <p>Open platform learning with an experienced Data Science Community.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4>✅ Build 8 Amazing Projects</h4>
                    <p>Build a portfolio of work that shows your expertise to potential clients. </p>
                </div>
            </div>
        </div>
        
        <!-- <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4>✅ Gain Business Project Experience Day 1</h4>
                    <p>Manage projects for clients with a track record of success. </p>
                </div>
            </div>
        </div>         -->

    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            
            <p class="">
                <a href="https://university.business-science.io/p/5-course-bundle-machine-learning-web-apps-time-series" class="btn btn-lg-green btn-lg-green-mobile" style="width:100%;margin-bottom:20px;max-width: 500px;box-shadow: 0px 0px 5px #808080;white-space: normal;">
                    Start Your Classes Now! 👉
                    
                </a>
            </p>

        </div>
    </div>

</div>