
<div class="container home-testimonial-carousel" style="margin-top:20px;margin-bottom:50px;">

  <div>

    <h1 class="text-center home-header-h1">
      <span style="color:green;">What companies really want: </span><br><small>How becoming a Business Scientist can make over 6-figures.</small>
    </h1>

    <div class="thumbnail" style="max-width:850px;margin-left:auto;margin-right:auto;">
      <img src="/assets/business-science-cube-2.jpg" alt="Business Science Cube">
    </div>
  
    <p class="text-center home-p-lg" style="font-size:36px;max-width:650px;margin-left:auto;margin-right:auto;">
      <strong>Companies need the Business Scientist who can: </strong>
    </p>

    <div class="table-painpoints" style="margin-top:30px;">
        
      <div class="row">
        <div class="col-xs-2">
            <p class="emoji-lg pull-right">✅</p>
        </div>
        <div class="col-xs-10">
            <p><strong>Understand the business's problems.</strong> Work with executive leadership to uncover the multi-million dollar problems.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
            <p class="emoji-lg pull-right">✅</p>
        </div>
        <div class="col-xs-10">
            <p><strong>Communicate with leadership</strong> and engage the right people to solve the problem.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
            <p class="emoji-lg pull-right">✅</p>
        </div>
        <div class="col-xs-10">
            <p><strong>Solve the business problem</strong> leveraging data science AND subject matter experts.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
            <p class="emoji-lg pull-right">✅</p>
        </div>
        <div class="col-xs-10">
            <p><strong>Build verified business solutions</strong> that solve those problems.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
            <p class="emoji-lg pull-right">✅</p>
        </div>
        <div class="col-xs-10">
            <p><strong>Deploy the verified business solutions themselves</strong> without involving IT, DevOps, and other time-consuming, resource intense groups.</p>
        </div>
      </div>
    </div>



    <h2 class="text-center home-header-h2" style="font-weight:300;max-width:850px;margin-left:auto;margin-right:auto;">
      And the Business Scientist can do this in <strong><span style="color:green;"> under 90 Days</span></strong>. 
    </h2>

    <div>
      <div class="home-p-lg text-center" style="max-width:650px;margin-left:auto;margin-right:auto;font-size:36px;padding-top:20px;">
        <strong>Question:</strong> <br>
        If you could correctly identify the biggest problems, build a verified solution, and deploy it in under 90 days:
      </div>
  
      <h3 class="text-center home-header-h3" style="font-weight:300;max-width:850px;margin-left:auto;margin-right:auto;">
        What would happen to <strong><span style="color:green;">your portfolio</span></strong>?
      </h3>
  
      <h3 class="text-center home-header-h3" style="font-weight:300;max-width:850px;margin-left:auto;margin-right:auto;">
        What would happen to <strong><span style="color:green;">your income</span></strong>?
      </h3>
  
      <h3 class="text-center home-header-h3" style="font-weight:300;max-width:850px;margin-left:auto;margin-right:auto;">
        What would happen to <strong><span style="color:green;">your title</span></strong>?
      </h3>
      
      <h3 class="text-center home-header-h3" style="font-weight:300;max-width:850px;margin-left:auto;margin-right:auto;">
        What would happen when <strong><span style="color:green;">you wanted to switch jobs</span></strong>?
      </h3>
    
      <h3 class="text-center home-header-h3" style="font-weight:300;max-width:850px;margin-left:auto;margin-right:auto;">
        What would happen when <strong><span style="color:red;">layoffs came around</span></strong>?
      </h3>

    </div>

    <p class="text-center home-p-lg" style="font-size:36px;max-width:650px;margin-left:auto;margin-right:auto;">
      Companies are happy to pay Business Scientists <strong>17% more</strong> to replace a $1,240,000 cost and get projects done 80% faster (that work the 1st time through).
    </p>

  </div>
    

  <div class="" style="max-width:850px;margin-left:auto;margin-right:auto;">

    <h2 class="text-center home-header-h2" style="font-weight:300">
      Do you want the <strong>cheat code</strong> to becoming a Business Scientist?
    </h2>
    
    <div class="thumbnail">
      <img src="/img/become_a_business_datascientist_faster.jpg" alt="Become a Business Data Scientist Faster">
    </div>

    
  </div>

</div>
  

