<div class="info" id="how-we-help">
    <div class="container">

        <!--<div class="text-center">
            <h3>How We Help</h3>
            <hr>
        </div>-->
        
        <div class="col-sm-12 col-md-12 col-lg-12 col-md-offset-0 col-lg-offset-0" style="margin-top:120px">

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <h2>Empowering Data Scientists In Business &amp; Finance</h2>
                        <p>We help data scientists achieve an advanced level teaching the tools and frameworks that lead to data science project success within a <strong>business context</strong>. Start with our FREE Business Science Blog.</p>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-md-12 text-center">
                            <a href="/blog/" class="btn btn-lg btn-info" style="width:85%">
                                <i class="fa fa-book fa-1x"></i>
                                Blog
                            </a>
                        </div>
                    </div>
                    
                </div>

                <div class="col-sm-12 col-md-6">
                    <img src="/img/homepage/teamwork.png" alt="Data Science Teamwork" style="width:100%;"/>
                </div>
            
            </div>
            
            
            
            <div class="row" style="margin-top:120px">
                <div class="col-sm-12 col-md-6">
                    <img src="/img/homepage/datascientist.png" alt="Data Science Training" style="width:100%;"/>
                </div>
                
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <h2>Enterprise-Grade Data Science Education</h2>
                        <p>Take the next step with our online, self-paced learning platform: <strong>Business Science University</strong>. We offer unparalleled education designed to take you to an advanced level in <strong>10 weeks or less</strong>.</p>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-md-12 text-center">
                            <a href="https://university.business-science.io/" class="btn btn-lg btn-info" style="width:85%">
                                <i class="fa fa-graduation-cap fa-1x"></i>
                                University
                            </a>
                        </div>
                    </div>
                    
                </div>

            </div>
            
            <div class="row" style="margin-top:120px">
                
                
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <h2>Customized Workshops</h2>
                        <p>We offer <strong>customized education</strong> (both virtual and on-premise) in addition to our online, self-paced Business Science University platform. Contact us to schedule a customized training:</p>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-md-12 text-center">
                            <a href="/contact.html" class="btn btn-lg btn-info" style="width:85%">
                                <i class="fa fa-envelope fa-1x"></i>
                                Workshops
                            </a>
                        </div>
                    </div>
                    
                </div>
                
                <div class="col-sm-12 col-md-6">
                    <img src="/img/homepage/course.png" alt="Data Science Training" style="width:100%;"/>
                </div>

            </div>
            
        </div>
        
        

        <!-- <div class="col-sm-12 col-md-12 col-lg-12 col-md-offset-0 col-lg-offset-0">

            <div class="row">
                <div class="col-md-12 col-md-offset-0">

                
                    <div class="col-sm-12 col-md-6" style="min-height: 375px">
                        <div class="thumbnail tab-pane" style="height: 375px;">
                            <div class="caption" >
                                <div><i class="fa fa-flask fa-4x text-center" style="width: 100%; margin-top: 5px;"></i></div>
                                <h5 class="text-center">Data Scientists</h5>
                                <p class="text-center">
                                        You know data science and machine learning, but you could use some help building on your knowledge by adding specialized, topical experts.
                                </p>
                                <p class="text-center">
                                            We add <strong>subject-matter experts (SME)</strong>
                                            in data science for Digital Marketing, HR, Sales,
                                        Logistics and more to
                                        compliment your skill set.
                                </p>
                            </div>
                        </div>
                    </div>

            
                    <div class="col-sm-12 col-md-6" style="min-height: 375px">
                        <div class="thumbnail tab-pane" style="height: 375px;">
                            <div class="caption" >
                                <div><i class="fa fa-briefcase fa-4x text-center" style="width: 100%; margin-top: 5px;"></i></div>
                                <h5 class="text-center">Executives</h5>
                                <p class="text-center">
                                You're interested in utilizing predictive analytics as a
                                competitive advantage but don't have a data science team
                                established.
                                </p>
                                <p class="text-center">
                                    We are your <strong>bolt-on data science team</strong>! We'll
                                    develop predictive models to solve the most complex business
                                    problems while understanding and
                                    fitting seamlessly into your organization.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div> -->
        
    </div>
</div>
