    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!-- Open Graph -->

    <meta content="{{ site.title }}" property="og:site_name">
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
      <meta content="{{ page.title }}" property="og:title">
      <meta content="{{ page.title }}" property="twitter:title"/>
    {% else %}
      <meta content="{{ site.title }}" property="og:title">
    {% endif %}

    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}

    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}

    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
      <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}

    {% if page.image %}
      <meta content="{{ site.url }}/assets/{{ page.image }}" property="og:image">
    {% else %}
      <meta content="{{ site.url }}/img/business-science-logo.png" property="og:image">
    {% endif %}

    {% if page.categories %}
      {% for category in page.categories limit:1 %}
      <meta content="{{ category }}" property="article:section">
      {% endfor %}
    {% endif %}

    {% if page.tags %}
      {% for tag in page.tags %}
      <meta content="{{ tag }}" property="article:tag">
      {% endfor %}
    {% endif %}

<!-- Twitter Card -->

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@site_username">
  <meta name="twitter:creator" content="@creator_username">
  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  
  {% if page.image %}
    <meta name="twitter:image" content="{{ site.url }}/assets/{{ page.image }}">
  {% else %}
    <meta name="twitter:image" content="{{ site.url }}/img/business-science-logo.png">
  {% endif %} -->
  


  <meta name="ahrefs-site-verification" content="39784abd74b760b0fef1717d33306c64efeebaebf8d12e008b7e3234cc9cebcb">