<div class="owl-carousel owl-theme">
    <div class="item">
            <a href="#"
                data-toggle="modal"
                data-target="#marketing-analytics">
                <img src="/img/expertise/digital-marketing-thumb.jpg" alt="Marketing Analytics">
            </a>
            <button type="button"
                class="btn btn-sm btn-primary"
                data-toggle="modal"
                data-target="#marketing-analytics">Marketing</button>
    </div>
    <div class="item">
            <a href="#"
                data-toggle="modal"
                data-target="#hr-analytics">
                <img src="/img/expertise/hr_analytics_thumb.jpg" alt="Human Resources Analytics">
            </a>
            <button type="button"
                class="btn btn-sm btn-primary"
                data-toggle="modal"
                data-target="#hr-analytics">Human Resources</button>
    </div>
    <div class="item">
            <a href="#"
                data-toggle="modal"
                data-target="#manufacturing-analytics">
                <img src="/img/expertise/manufacturing-thumb.jpg" alt="Manufacturing Analytics">
            </a>
            <button type="button"
                class="btn btn-sm btn-primary"
                data-toggle="modal"
                data-target="#manufacturing-analytics">Manufacturing</button>
    </div>
    <div class="item">
            <a href="#"
                data-toggle="modal"
                data-target="#inventory-analytics">
                <img src="/img/expertise/warehouse-thumb.jpg" alt="Inventory Analytics">
            </a>
            <button type="button"
                class="btn btn-sm btn-primary"
                data-toggle="modal"
                data-target="#inventory-analytics">Supply Chain Logistics</button>
    </div>
    <div class="item">
            <a href="#"
                data-toggle="modal"
                data-target="#financial-analytics">
                <img src="/img/expertise/financial-analysis-thumb.jpg" alt="Financial Analytics">
            </a>
            <button type="button"
                class="btn btn-sm btn-primary"
                data-toggle="modal"
                data-target="#financial-analytics">Finance</button>
    </div>
    <div class="item">
            <a href="#"
                data-toggle="modal"
                data-target="#fraud-detection">
                <img src="/img/expertise/fraud_detection_thumb.jpg" alt="Fraud Detection">
            </a>
            <button type="button"
                class="btn btn-sm btn-primary"
                data-toggle="modal"
                data-target="#fraud-detection">Fraud Detection</button>
    </div>
</div>

<!-- Marketing Analytics -->
<div id="marketing-analytics" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Marketing Analytics</h4>
      </div>

      <div class="row">
          <div class="col-md-6 col-md-offset-3 modal-img">
              <img class="shadow" src="/img/expertise/digital-marketing-thumb.jpg" alt="Marketing Analytics">
          </div><!-- Financial Analytics -->
      </div>

      <div class="modal-body">
        <p>Marketing data science can be used to better <strong>understand customers, measure marketing effectiveness, and increase marketing ROI</strong>. Our expert consultants have the skills to take your marketing efforts to the next level. We can help with:</p>
        <ul>
            <li><p><strong>Customer Journey Analysis:</strong> Using data science we can dive deep into understanding how your website vistors become customers and what touch-points and content are most critical to customer conversion.</p></li>
            <li><p><strong>Audience Segmentation:</strong> Understanding what groups exist within your customer-base can be critical to capitalizing on hidden trends and better serving your customers. We can use clustering techniques alongside supervised learning to group customers and make predictitions.</p></li>
            <li><p><strong>Data Management:</strong> We can help move and join data from Google Analytics, Google AdWords, Google BigQuery and internal offline data warehouses. Further, via webscraping we can collect data from public online sources.</p></li>
            <li><p><strong>Automated Analytics Reporting and Visualizations:</strong> We build web-based applications (<code>shiny</code>) and can setup automated reporting (<code>cron</code>).</p></li>
        </ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- HR Analytics -->
<div id="hr-analytics" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Human Resources Analytics</h4>
      </div>

      <div class="row">
          <div class="col-md-6 col-md-offset-3 modal-img">
              <img class="shadow" src="/img/expertise/hr_analytics_thumb.jpg" alt="Human Resources Analytics">
          </div>
      </div>

      <div class="modal-body">
        <p>Organizations are collecting volumes of data on their personnel, much of which is unstructured but very important to the business. Human resources data science can be used to better <strong>understand employee engagement, measure and forecast turnover, and measure the causal effect of HR decisions on the business</strong>. We can help with:</p>
        <ul>
            <li><p><strong>Employee Turnover Analysis:</strong> Characterizing the associated turnover risk of given populations.</p></li>
            <li><p><strong>Job Change Analysis:</strong> Investigating segments that are more/less likely to experience job changes and promotions.</p></li>
            <li><p><strong>Payroll and Labor Cost Analysis:</strong> Show the importance of Human Resources on the business.</p></li>
            <li><p><strong>Programmatic Structuring of Data:</strong> Collect, clean and manipulate data from textual files and other unstructured data sources.</p></li>
            <li><p><strong>Automated Analytics Reporting and Visualizations:</strong> Web-based applications (<code>shiny</code>) and automated reporting.</p></li>
        </ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Manufacturing Analytics -->
<div id="manufacturing-analytics" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Manufacturing Analytics</h4>
      </div>

      <div class="row">
          <div class="col-md-6 col-md-offset-3 modal-img">
              <img class="shadow" src="/img/expertise/manufacturing-thumb.jpg" alt="Manufacturing Analytics">
          </div>
      </div>

      <div class="modal-body">
        <p>Process industries generate enormous volumes of data, but many have failed to make use of this mountain of potential intelligence. Manufacturing data science can be used to better <strong>understand process and quality control, detect anomalies and optimize manufacturing processes</strong>. We can help with:</p>
        <ul>
            <li><p><strong>Predictive Maintenance Analysis:</strong> Build models using the historical performance data of machines to forecast when one is likely to fail, limit the time it is out of service, and identify the root cause of the problem.</p></li>
            <li><p><strong>Profit-Per-Hour Maximization:</strong> Determine the effect of large numbers of parameters on sales and provide intelligence on how best to capitalize by leveraging critical parameters.</p></li>
            <li><p><strong>Yield Energy Throughput Analysis:</strong> Optimize yield, throughput, and material costs to maximize the profitability of each process step.</p></li>
            <li><p><strong>Automated Analytics Reporting and Visualizations:</strong> Web-based applications (<code>shiny</code>) and automated reporting.</p></li>
        </ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Logistics Analytics -->
<div id="inventory-analytics" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Supply Chain Logistics and Inventory Analytics</h4>
      </div>

      <div class="row">
          <div class="col-md-6 col-md-offset-3 modal-img">
              <img class="shadow" src="/img/expertise/warehouse-thumb.jpg" alt="Inventory Analytics">
          </div>
      </div>

      <div class="modal-body">
        <p>Supply chain logistics and inventory management can be optimized to reduce costs while maintaining service levels. We can help with:</p>
        <ul>
            <li><p><strong>Demand Forecasting:</strong> Build forecast models that more accurately predict demand, which in turn enables better planning, supply chaing logistics, and inventory management.</p></li>
            <li><p><strong>Inventory Imbalance:</strong> Reduce instances of excess and insufficient inventory through optimization.</p></li>
            <li><p><strong>Automated Analytics Reporting and Visualizations:</strong> Web-based applications (<code>shiny</code>) and automated reporting.</p></li>
        </ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Financial Analytics -->
<div id="financial-analytics" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Financial Analytics</h4>
      </div>

      <div class="row">
          <div class="col-md-6 col-md-offset-3 modal-img">
              <img class="shadow" src="/img/expertise/financial-analysis-thumb.jpg" alt="Financial Analytics">
          </div>
      </div>

      <div class="modal-body">
        <p>Financial instutitions collect massive amounts of customer and transaction data from ATM’s, offline bank branches, mobile app, call centres, online banking,. We can help with:</p>
        <ul>
            <li><p><strong>Sentiment Analysis:</strong> Textual data can be combined with financial data to predict future performance. Topic clustering and topic classification are used in this area.</p></li>
            <li><p><strong>Transactional Analysis:</strong> Data science can add great value to financial institutions by helping them find attributes and patterns which have increased probability for fraud and can better understand customer behavior.</p></li>
            <li><p><strong>Pricing Analysis:</strong> Data science helps financial institutions forecast various profitability components such as charge-off accounts, delinquency and closure that help them make effective product and pricing decisions.</p></li>
            <li><p><strong>Automated Analytics Reporting and Visualizations:</strong> Web-based applications (<code>shiny</code>) and automated reporting.</p></li>
        </ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Fraud Detection -->
<div id="fraud-detection" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Fraud Detection and Network Analysis</h4>
      </div>

      <div class="row">
          <div class="col-md-6 col-md-offset-3 modal-img">
              <img class="shadow" src="/img/expertise/fraud_detection_thumb.jpg" alt="Fraud Detection">
          </div>
      </div>

      <div class="modal-body">
        <p>Fraud analytics can reduce exposure to fraudulent activities, increase compliance with government regulations, and reduce costs associated with fraud both from fraud and fees from incompliance. We can help with:</p>
        <ul>
            <li><p><strong>Anti-Money Laundering (AML):</strong> Criminal networks that launder money exhibit statistically
anomalous behavior that can be mined and detected via network analysis.</p></li>
            <li><p><strong>Credit Card Fraud:</strong> Text mining and machine learning can offer prediction, detection and prevention of fraud at an early stage.</p></li>
            <li><p><strong>Automated Analytics Reporting and Visualizations:</strong> Web-based applications (<code>shiny</code>) and automated reporting.</p></li>
        </ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
