

	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" onclick="$('.nav > .dropdown').addClass('open')" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                  <img class="nav-logo" src="/img/business-science-logo.png" alt="Business Science Logo" style="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                
                <ul class="nav navbar-nav navbar-right">
                    
                    
    				
    				<li {% if page.url == nav_item.link %} class="active" {% endif %}>
    				    <a href="https://university.business-science.io">University</a>
    				</li>
    				
    				<li class="dropdown">
                      <a href="/software.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
                      <ul class="dropdown-menu">
                        <li><a href="/software.html"><i class="fa fa-code fa-1x"></i> Software</a></li>
                        <!-- <li role="separator" class="divider"></li>-->
                        
                        <li><a href="/bspf.html"><i class="fa fa-project-diagram fa-1x"></i> BSPF Framework</a></li>
                        
                        <li><a href="/r-cheatsheet.html"><i class="fab fa-r-project fa-1x"></i> Ultimate R Cheatsheet</a></li>
                        <li><a href="/python-cheatsheet.html"><i class="fab fa-python fa-1x"></i> Ultimate Python Cheatsheet</a></li>
                        
                        <li><a href="https://mailchi.mp/business-science/data-science-five-topic-friday"><i class="fa fa-newspaper fa-1x"></i> Five Topic Friday Newsletter</a></li>
                        
                        <li><a href="/labs"><i class="fa fa-video fa-1x"></i> Learning Lab Webinar Series</a></li>
                        <!--
                        <li role="separator" class="divider"></li>
                        <li><a href="https://www.youtube.com/channel/UCqQ_cxcNu1ekqHXDc-MbU_w">Videos</a></li>
                        -->
                        <!--
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Business Science Labs</a></li>
                        -->
                      </ul>
                    </li>
                    
                    <!-- Nav Links: Maintained in data/nav.csv -->
    				{% for nav_item in site.data.nav %}
    				<li {% if page.url == nav_item.link %} class="active" {% endif %}>
    				    <a href="{{ nav_item.link }}">{{ nav_item.name }}</a>
    				</li>
    				{% endfor %}
                    
                    
                    
                    <!-- Search site using Google's index -->
                    <li>
                        <form class="navbar-form navbar-right" role="search" method="get" action="https://google.com/search">
                          <div class="row">
                              <div class="col-xs-8">
                                  <div class="form-group" id="inline">
                                    <input type="hidden" name="q" value="site:business-science.io" />
                                    <input type="text" class="form-control search-query" name="q" placeholder="Search"/>
                                  </div>
                              </div>
                              <div class="col-xs-2">
                                  <button type="submit" class="btn btn-default"><i class="fa fa-search fa-lg"></i></button>
                              </div>
                          </div>
                        </form>
                    </li>
				</ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
