

	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Business Science</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- Nav Links: Maintained in data/nav.csv -->
                <ul class="nav navbar-nav navbar-right">
    				{% for nav_item in site.data.nav %}
    				<li {% if page.url == nav_item.link %} class="active" {% endif %}>
    				    <a href="{{ nav_item.link }}">{{ nav_item.name }}</a>
    				</li>
    				{% endfor %}

                    <!-- Search site using Google's index -->
                    <li>
                        <form class="navbar-form navbar-right" role="search" method="get" action="http://google.com/search">
                          <div class="form-group" id="inline">
                            <input type="hidden" name="q" value="site:mattdancho.com" />
                            <input type="text" class="form-control search-query" name="q" placeholder="Search"/>
                          </div>
                          <button type="submit" class="btn btn-default"><i class="fa fa-search fa-lg"></i></button>
                        </form>
                    </li>
				</ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
