

	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" onclick="$('.nav > .dropdown').addClass('open')" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                  <img class="nav-logo" src="/img/business-science-logo.png" alt="Business Science Logo" style="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                
                <ul class="nav navbar-nav navbar-right">
                    
                    <!-- GETTING STARTED -->
                    <li class="dropdown">
                      <a href="/learn.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Getting Started</a>
                      <ul class="dropdown-menu">
                          
                        <li><a href="https://mailchi.mp/business-science/data-science-fundamentals-newsletter"><i class="fa fa-newspaper fa-1x"></i> DS Fundamentals Newsletter</a></li>
                        <li role="separator" class="divider"></li>
                        
                        <li><a href="/labs"><i class="fa fa-video fa-1x"></i> Learning Labs - Attend Live!</a></li>
                        <li><a href="/learn.html"><i class="fas fa-book-open fa-1x"></i>
 Learning Hub - Article Portal</a></li>
                        <li><a href="/blog/index.html"><i class="fas fa-book fa-1x"></i>
 Blog - 85+ Articles!</a></li>
                      </ul>
                    </li>
    				
    				<!-- UNIVERSITY PROGRAMS -->
    				<li {% if page.url == nav_item.link %} class="active" {% endif %}>
    				    <a href="https://university.business-science.io">University Programs</a>
                    </li>
                    
                    
    				<!-- RESOURCES -->
    				<li class="dropdown">
                      <a href="/software.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
                      <ul class="dropdown-menu">
                        
                        <li><a href="/software.html"><i class="fa fa-code fa-1x"></i> Software</a></li>
                        <li role="separator" class="divider"></li>
                        
                        <li><a href="/bspf.html"><i class="fa fa-project-diagram fa-1x"></i> BSPF Framework</a></li>
                        
                        <li><a href="/r-cheatsheet.html"><i class="fab fa-r-project fa-1x"></i> Ultimate R Cheat Sheet</a></li>
                        <li><a href="/python-cheatsheet.html"><i class="fab fa-python fa-1x"></i> Ultimate Python Cheat Sheet</a></li>
                        <li><a href="/segmentation-cheatsheet.html"><i class="far fa-object-group fa-1x"></i> Segmentation &amp; Clustering Cheat Sheet</a></li>
                        <li><a href="/cheatsheet-machine-learning-regression.html"><i class="fas fa-cogs fa-1x"></i> Machine Learning (Regression) Cheat Sheet</a></li>
                        
                        
                      </ul>
                    </li>

                    <!-- CONTACT -->
                    <li class="dropdown">
                      <a href="/contact.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact</a>
                      <ul class="dropdown-menu">
                        
                        <li><a href="/contact.html"><i class="fas fa-comments fa-1x"></i>
 Contact Us</a></li>
                        <li><a href="/about.html"><i class="fas fa-graduation-cap fa-1x"></i>
 About Us</a></li>
                      </ul>
                    </li>
                    
                    <!-- LOG IN -->
    				<li {% if page.url == nav_item.link %} class="active" {% endif %}>
    				    <a href="https://sso.teachable.com/secure/173166/users/sign_up?reset_purchase_session=1">Log In</a>
                    </li>
                    
                    <!-- SEARCH -->
                    <li>
                        <form class="navbar-form navbar-right" role="search" method="get" action="https://google.com/search">
                          <div class="row">
                              <div class="col-xs-6">
                                  <div class="form-group" id="inline">
                                    <input type="hidden" name="q" value="site:business-science.io" />
                                    <input type="text" class="form-control search-query" name="q" placeholder="Search"/>
                                  </div>
                              </div>
                              <div class="col-xs-2">
                                  <button type="submit" class="btn btn-default"><i class="fa fa-search fa-lg"></i></button>
                              </div>
                          </div>
                        </form>
                    </li>
                    
                    
                    
                    
				</ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
