
    <div class="row" style="display:-webkit-flex; flex-wrap:wrap;margin-left:30px;margin-right:30px;">

      <!-- Secret 1 -->
      <div class="col-lg-5ths col-sm-12" style="display:-webkit-flex; flex-wrap:wrap;padding:10px;margin-left: auto;margin-right: auto;">
        <div class="well bg-primary" style="background-color:#0000008a;">
          <div class="">
             <img class = "img img-thumbnail" src="img/10_secrets/secret_1.png">
          </div>
          <h3 class="text-center" style="min-height:50px;padding-bottom:0px;">Learn R</h3>
          <p class="text-center" style="min-height:50px;margin-top:20px;color:#b4bcc2;">
                 Learn the strengths of each language &amp; <strong><span class="text-success">confidently pick</span></strong> the best for you.
          </p>
        </div>
      </div>

      <!-- Secret 2 -->
      <div class="col-lg-5ths col-sm-12" style="display:-webkit-flex; flex-wrap:wrap;padding:10px;margin-left: auto;margin-right: auto;">
        <div class="well bg-primary" style="background-color:#0000008a;">
          <div class="">
             <img class = "img img-thumbnail" src="img/10_secrets/secret_2.png">
          </div>
          <h3 class="text-center" style="min-height:50px;padding-bottom:0px;">3 Stages to Data Science</h3>
          <p class="text-center" style="min-height:50px;margin-top:20px;color:#b4bcc2;">
                 Learn my <strong><span class="text-success">3 stages to data science</span></strong> &amp; the 80/20 tools that help in each stage.
          </p>
        </div>
      </div>

      <!-- Secret 3 -->
      <div class="col-lg-5ths col-sm-12" style="display:-webkit-flex; flex-wrap:wrap;padding:10px;margin-left: auto;margin-right: auto;">
        <div class="well bg-primary" style="background-color:#0000008a;">
          <div class="">
             <img class = "img img-thumbnail" src="img/10_secrets/secret_3.png">
          </div>
          <h3 class="text-center" style="min-height:50px;padding-bottom:0px;">10 Most Important Functions</h3>
          <p class="text-center" style="min-height:50px;margin-top:20px;color:#b4bcc2;">
                 Learn my <strong><span class="text-success">10 most frequently used</span></strong> functions for data wrangling and visualization so you can speed up your learning.
          </p>
        </div>
      </div>

      <!-- Secret 4 -->
      <div class="col-lg-5ths col-sm-12" style="display:-webkit-flex; flex-wrap:wrap;padding:10px;margin-left: auto;margin-right: auto;">
        <div class="well bg-primary" style="background-color:#0000008a;">
          <div class="">
             <img class = "img img-thumbnail" src="img/10_secrets/secret_4.png">
          </div>
          <h3 class="text-center" style="min-height:50px;padding-bottom:0px;">RMarkdown Reporting</h3>
          <p class="text-center" style="min-height:50px;margin-top:20px;color:#b4bcc2;">
                 Learn how I make <strong><span class="text-success">professional</span></strong> PDF Reports in R.
          </p>
        </div>
      </div>




      <!-- Secret 5 -->
      <div class="col-lg-5ths col-sm-12" style="display:-webkit-flex; flex-wrap:wrap;padding:10px;margin-left: auto;margin-right: auto;">
        <div class="well bg-primary" style="background-color:#0000008a;">
          <div class="">
             <img class = "img img-thumbnail" src="img/10_secrets/secret_5.png">
          </div>
          <h3 class="text-center" style="min-height:50px;padding-bottom:0px;">2 Best Machine Learning Libraries</h3>
          <p class="text-center" style="min-height:50px;margin-top:20px;color:#b4bcc2;">
                 Learn how I use the <strong><span class="text-success">2 Best Machine Learning Libraries</span></strong> for experimentation and production.
          </p>
        </div>
      </div>

      <!-- Secret 6 -->
      <div class="col-lg-5ths col-sm-12" style="display:-webkit-flex; flex-wrap:wrap;padding:10px;margin-left: auto;margin-right: auto;">
        <div class="well bg-primary" style="background-color:#0000008a;">
          <div class="">
             <img class = "img img-thumbnail" src="img/10_secrets/secret_6.png">
          </div>
          <h3 class="text-center" style="min-height:50px;padding-bottom:0px;">7 Steps to Manage Projects</h3>
          <p class="text-center" style="min-height:50px;margin-top:20px;color:#b4bcc2;">
                 Learn the <strong><span class="text-success">7-steps of successful data science projects</span></strong> using my Business Science Project Management Framework (BSPF).
          </p>
        </div>
      </div>

      <!-- Secret 7 -->
      <div class="col-lg-5ths col-sm-12" style="display:-webkit-flex; flex-wrap:wrap;padding:10px;margin-left: auto;margin-right: auto;">
        <div class="well bg-primary" style="background-color:#0000008a;">
          <div class="">
             <img class = "img img-thumbnail" src="img/10_secrets/secret_7.png">
          </div>
          <h3 class="text-center" style="min-height:50px;padding-bottom:0px;">Forecast 10,000 Time Series</h3>
          <p class="text-center" style="min-height:50px;margin-top:20px;color:#b4bcc2;">
                 Learn which R packages to use to <strong><span class="text-success">forecast 10,000 time series</span></strong> saving companies millions $$$ in the process.
          </p>
        </div>
      </div>

      <!-- Secret 8 -->
      <div class="col-lg-5ths col-sm-12" style="display:-webkit-flex; flex-wrap:wrap;padding:10px;margin-left: auto;margin-right: auto;">
        <div class="well bg-primary" style="background-color:#0000008a;">
          <div class="">
             <img class = "img img-thumbnail" src="img/10_secrets/secret_8.png">
          </div>
          <h3 class="text-center" style="min-height:50px;padding-bottom:0px;">Make Shiny Apps</h3>
          <p class="text-center" style="min-height:50px;margin-top:20px;color:#b4bcc2;">
                 Learn how to make the 2 key components of shiny apps so you can <strong><span class="text-success">automate your data science analysis.</span></strong>
          </p>
        </div>
      </div>


      <!-- Secret 9 -->
      <div class="col-lg-5ths col-sm-12" style="display:-webkit-flex; flex-wrap:wrap;padding:10px;margin-left: auto;margin-right: auto;">
        <div class="well bg-primary" style="background-color:#0000008a;">
          <div class="">
             <img class = "img img-thumbnail" src="img/10_secrets/secret_9.png">
          </div>
          <h3 class="text-center" style="min-height:50px;padding-bottom:0px;">Use AWS Cloud</h3>
          <p class="text-center" style="min-height:50px;margin-top:20px;color:#b4bcc2;">
                 Learn how to set up a <strong><span class="text-success">REAL production EC2 server on AWS.</span></strong>
          </p>
        </div>
      </div>


      <!-- Secret 10 -->
      <div class="col-lg-5ths col-sm-12" style="display:-webkit-flex; flex-wrap:wrap;padding:10px;margin-left: auto;margin-right: auto;">
        <div class="well bg-primary" style="background-color:#0000008a;">
          <div class="">
             <img class = "img img-thumbnail" src="img/10_secrets/secret_10.png">
          </div>
          <h3 class="text-center" style="min-height:50px;padding-bottom:0px;">Deployment with Docker &amp; Git</h3>
          <p class="text-center" style="min-height:50px;margin-top:20px;color:#b4bcc2;">
                 Learn how to <strong><span class="text-success">launch a REAL shiny app into production</span></strong> with Docker & Git.
          </p>
        </div>
      </div>

    </div>
