  <!-- 5-COURSE R-TRACK -->

  <div class="row">
    <div id="cover" class="container well" style="background-color: rgba(0, 0, 0, 0.6);width:100%;">

      <div class='text-center' style="min-height:85px;">

         <img class="img img-responsive logo-shadow" src="/img/rtrack_logo_white.png" alt="5 Course R-Track" style="height:auto; padding-top:12px;padding-bottom:12px;margin-left:auto;margin-right:auto; max-width:95%;">

         <br />
         <p class="subtitle" style='margin-top:20px;'>Go from zero-experience to full-time data scientist <span style='color:#13d3ad'><strong><u>WITHOUT</u></strong></span> spending years learning data science.</p>
      </div>

      <div style="margin-top:20px;">
          <img class = "img img-responsive" src="/img/5_course_r_track.jpg" alt="5-Course R-Track" />
      </div>

    </div>
  </div>

