    <!-- APPS -->
    <div class="">
        <div class="row" >
            <div class="col-sm-12 text-center">
                <h1>What You Build</h1>
                <p class="subtitle">Try the web applications.</p>
            </div>
        </div>

        <div class="row equal">

            <!-- App 1 -->
            <div class="col-sm-4 text-center">
              <div class="thumbnail" style="padding:10px;">
                <a href ="https://business-science.shinyapps.io/sales_dashboard_demand_forecast/" target="_blank"><img class="img-responsive shadow" src="/img/curriculum/app_sales_forecast.jpg" alt="Sales Demand Forecast Application" style="width:100%;"/></a>
                <br>
                <h3 class="text-center">Sales Demand Forecast Prediction<br/></h3>
                <p style="font-size:16px">Implement a machine learning model to predict sales demand daily, weekly, monthly, quarterly, and yearly.</p>
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <a href="https://business-science.shinyapps.io/sales_dashboard_demand_forecast/" target="_blank"
                    class="btn btn-md btn-success" style="width:100%;margin-bottom:20px;max-width:400px;">
                        Forecast App
                    </a>
                </div>
                <br />
              </div>
            </div>

            <!-- App 2 -->
            <div class="col-sm-4 text-center">
              <div class="thumbnail" style="padding:10px;">
                <a href ="https://business-science.shinyapps.io/cannondale_price_prediction_app/" target="_blank"><img class="img-responsive shadow" src="/img/curriculum/app_cannondale_price_prediction.jpg" alt="Sales Demand Forecast Application" style="width:100%;"/></a>
                <br>
                <h3 class="text-center">Price Prediction &amp; Recommendation<br/></h3>
                <p style="font-size:16px">Use machine learning to recommend prices based on a product portfolio, detect product gaps, &amp; improve consistency. </p>
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <a href="https://business-science.shinyapps.io/cannondale_price_prediction_app/" target="_blank"
                    class="btn btn-md btn-success" style="width:100%;margin-bottom:20px;max-width:400px;">
                        Price Prediction App
                    </a>
                </div>
                <br />
              </div>
            </div>

            <!-- App 3 -->
            <div class="col-sm-4 text-center">
              <div class="thumbnail" style="padding:10px;">
                <a href ="https://apps.business-science.io/stock_analyzer_mongo_atlas" target="_blank"><img class="img-responsive shadow" src="/img/curriculum/stock_analyzer.jpg" alt="Stock AnalyzerApplication" style="width:100%;"/></a>
                <br>
                <h3 class="text-center">Stock Analyzer App<br/></h3>
                <p style="font-size:16px">A financial application for analyzing trends in your favorite SP 500 stocks. Leverages AWS EC2 and MongoDB Atlas Cloud for managing multiple users. </p>
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <a href="https://apps.business-science.io/stock_analyzer_mongo_atlas" target="_blank"
                    class="btn btn-md btn-success" style="width:100%;margin-bottom:20px;max-width:400px;">
                        Stock Analyzer App
                    </a>
                </div>
                <br />
              </div>
            </div>

        </div>

        <p class="text-center"><a href="https://apps.business-science.io/" class="btn btn-lg-green" target="_blank">View All Apps in the App Gallery</a></p>

        <br/><br/>
    </div>
