<div class="container" style = "padding-top:25px;padding-bottom:25px;">
  <div class="row text-center">
    <div class="col-md-4">
      <img class="img img-responsive" src="img/five_stars.png" alt="" style="max-width:50%;margin:auto;"/>
      <p><em>
        "Because of all the R courses Matt Dancho has provided, I landed my first Data Scientist role at a Global Energy Company." 
        <br />-Chris S.
      </em></p>
    </div>
    <div class="col-md-4">
      <img class="img img-responsive" src="img/five_stars.png" alt="" style="max-width:50%;margin:auto;"/>
      <p><em>
        "Matt's instruction turned me into a more advanced data scientist and helped me find a new career opportunity."
        <br />- Masatake H.
      </em></p>
    </div>
    <div class="col-md-4">
      <img class="img img-responsive" src="img/five_stars.png" alt="" style="max-width:50%;margin:auto;"/>
      <p><em>
        "After your entry into my life, I got a 10% pay raise and then after another 6-months of 26%, and in just another 2-months a 40% hike. I can grab a job wherever I want."
        <br />
        - Mohana C.
      </em></p>
    </div>
  </div>
  
</div>