<div class='well text-center' style='background-color:#f19d1552;'>
  <h3>Break through learning plateaus</h3>
  <p class="text-center">
    When you unlock the R-Track, be prepared for accelerated learning. The courses are designed to break through learning plateaus by building on each other in rapid succession. We do this by using an innovative learning approach of jumpstarting, then explaining, then jumpstarting... repeating this cycle to rapidly complete business projects. 
  </p>
  <h3>The result</h3>
  <p>You learn 12-to-18 months faster than traditional programs.</p>
  <h3>Start your journey</h3>
  <p>Start your journey towards becoming an elite data scientist today.</p>
  <div class="col-sm-12 text-center">
      <a href="https://university.business-science.io/p/5-course-bundle-machine-learning-web-apps-time-series" 
      class='btn btn-lg btn-warning' style="width:100%; max-width:400px;">
          Unlock The R-Track Bundle
      </a>
  </div>
  <br><br><br>
</div>