  <!-- 5-COURSE R-TRACK -->
  
  <div class="row">
    <div id="cover" class="container well" style="background-color: rgba(0, 0, 0, 0.6);">
     
      <div class='text-center' style="min-height:85px;">
         <img class="logo-shadow " src="/img/rtrack_logo_white.png" alt="5 Course R-Track" style="width:450px; height:auto; padding-top:12px;">
         <br />
         <p class="subtitle" style='margin-top:20px;'>Go <span style='color:#13d3ad'><strong>from zero-experience to a full-time data scientist</strong></span> step-by-step in our streamlined 5-course system.</p>
      </div>
      
      <div style="margin-top:20px;">
          <img class = "img img-responsive" src="/img/5_course_r_track.jpg" alt="5-Course R-Track" />
      </div>
      
    </div>
  </div>
  
