  <!-- 5-COURSE R-TRACK -->
  <div class="row" style="margin-left:30px;margin-right:30px;"> 
    
    <!-- 5-Course R-Track System -->
    
    <div class="col-lg-offset-1 col-lg-10 col-sm-12" style="padding:10px;">
      <div class="well bg-default" style="background-color:#000000b0;">
        <div style="min-height:85px;">
         <img class="logo-shadow " src="/img/rtrack_logo_white.png" alt="5 Course R-Track" style="width:450px; height:auto; padding-top:12px;">
         <br />
         <p style='font-size:24px;'>Go <span style='color:#13d3ad'><strong>from zero-experience to a full-time data scientist</strong></span> step-by-step in our streamlined 5-course system.</p>
        </div>
        <br />
        <img class = "shadow2 img-responsive" src="/img/5_course_r_track.jpg" alt="5-Course R-Track" />
        
        <br />
        
        {% include r_track_benefits_list.html  %}
        
        <br />
        
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            <a href="https://university.business-science.io/p/5-course-bundle-machine-learning-web-apps-time-series" 
            class="btn btn-lg-green" style="width:100%">
                Learn more about the 5-Course R-Track
            </a>
        </div>
        
      </div>
    </div>
    
  </div>

</div>
