<!-- Benefits List -->
      <div class="benefits" style="margin-top:50px;">
        <div class="col-sm-offset-2 col-sm-4  hidden-xs">
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>Automatic Machine Learning</div>
          </div>
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>Business Consulting</div>
          </div>
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>Data Visualization</div>
          </div>
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>Time Series Forecasting</div>
          </div>
        </div>
        <div class="col-sm-4 hidden-xs">
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>Shiny Web Apps</div>
          </div>
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>SQL &amp; NoSQL Databases</div>
          </div>
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>Security &amp; Authentication</div>
          </div>
          <div class="item">
            <div class="number"><i class="fas fa-check"></i></div>
            <div>Deployment with AWS</div>
          </div>
        </div>
      </div>