    <!-- APPS -->
<div class="container">
    <div class="">
        <div class="row" >
            <div class="col-sm-12 text-center">
                <h1>Imagine <span class="text-success">filling your job portfolio</span> with these...</h1>
                <h4 >These Shiny web apps are 3 of 8 projects you make in our R-Track data science courses.</h4>
                <p class="subtitle">Companies need you to build apps like these. Add these to your job portfolio to stand out. Try the web applications you make in the 5-Course R-Track (3 of 8 projects you make in the courses).</p>

            </div>
        </div>

        <div class="row equal">

            <!-- App 1 -->
            <div class="col-sm-4 text-center">
              <div class="thumbnail" style="padding:10px;">
                <a href ="https://business-science.shinyapps.io/sales_dashboard_demand_forecast/" target="_blank"><img class="img-responsive shadow" src="/img/curriculum/app_sales_forecast.jpg" alt="Sales Demand Forecast Application" style="width:100%;"/></a>
                <br>
                <h3 class="text-center">Sales Demand Forecast Prediction</h3>
                <h5 class="text-center">(Course 4)</h5>
                <p style="font-size:16px">Build and deploy a machine learning model inside an app that forecasts sales demand daily, weekly, monthly, quarterly, and yearly.</p>
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <a href="https://business-science.shinyapps.io/sales_dashboard_demand_forecast/" target="_blank"
                    class="btn btn-md btn-success" style="width:100%;margin-bottom:20px;max-width:400px;white-space: normal;">
                        Try the Forecast App 🧪
                    </a>
                </div>
                <br />
              </div>
            </div>

            <!-- App 2 -->
            <div class="col-sm-4 text-center">
              <div class="thumbnail" style="padding:10px;">
                <a href ="https://business-science.shinyapps.io/cannondale_price_prediction_app/" target="_blank"><img class="img-responsive shadow" src="/img/curriculum/app_cannondale_price_prediction.jpg" alt="Sales Demand Forecast Application" style="width:100%;"/></a>
                <br>
                <h3 class="text-center">Price Prediction &amp; Recommendation</h3>
                <h5 class="text-center">(Course 4)</h5>
                <p style="font-size:16px">Build and deploy a web app that uses machine learning to recommend prices based on a product portfolio, detect product gaps, &amp; improve consistency. </p>
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <a href="https://business-science.shinyapps.io/cannondale_price_prediction_app/" target="_blank"
                    class="btn btn-md btn-success" style="width:100%;margin-bottom:20px;max-width:400px;white-space: normal;">
                        Try the Price Prediction App 🧪
                    </a>
                </div>
                <br />
              </div>
            </div>

            <!-- App 3 -->
            <div class="col-sm-4 text-center">
              <div class="thumbnail" style="padding:10px;">
                <a href ="https://apps.business-science.io/stock_analyzer_mongo_atlas" target="_blank"><img class="img-responsive shadow" src="/img/curriculum/stock_analyzer.jpg" alt="Stock AnalyzerApplication" style="width:100%;"/></a>
                <br>
                <h3 class="text-center">Stock Analyzer App</h3>
                <h5 class="text-center">(Course 5)</h5>
                <p style="font-size:16px">Make a financial application for analyzing trends in your favorite SP 500 stocks. Deploy the app on AWS EC2 and MongoDB Atlas Cloud for managing multiple business users. </p>
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <a href="https://business-science.shinyapps.io/shiny_stock_analyzer_demo_version/" target="_blank"
                    class="btn btn-md btn-success" style="width:100%;margin-bottom:20px;max-width:400px;white-space: normal;">
                        Try the Stock Analyzer App 🧪
                    </a>
                </div>
                <br />
              </div>
            </div>

        </div>

        <div class="col-sm-12 text-center">
            
          <p class="">
              <a href="https://university.business-science.io/p/5-course-bundle-machine-learning-web-apps-time-series?el=website" class="btn btn-lg-green btn-lg-green-mobile" style="width:100%;margin-bottom:20px;max-width: 500px;box-shadow: 0px 0px 5px #808080;white-space: normal;">
                  Start Your R-Track Courses Now! 👉
                  
              </a>
          </p>

        </div>

        <!-- <p class="text-center"><a href="https://apps.business-science.io/" class="btn btn-lg-green" target="_blank">View All Apps</a></p> -->

        <br/><br/>
    </div>
</div>
