<nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs">
	<ul class="nav bs-docs-sidenav">

		<!-- Feedburer Email Signup-->
		<li>
			<!-- <h5>Interested in Business Science? Subscribe!</h5> -->
			<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=mattdancho', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                <div class="row">
                    <div class="col-md-12">
                        <p style="color: #2c3e50;">Get <em>Business Science</em> updates:</p>
                        <p><input type="text" style="width:90%; color: #2c3e50; padding-left: 4px;" name="email" placeholder="email address" /></p>
                        <input type="hidden" value="mattdancho" name="uri"/>
                        <input type="hidden" name="loc" value="en_US"/>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <input type="submit" value="Subscribe" class="btn btn-primary btn-sm" style="margin-bottom: 8px;"/>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <p class="text-center"><a href="http://feeds.feedburner.com/mattdancho"><img src="http://feeds.feedburner.com/~fc/mattdancho?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="75%" style="border:0" alt="" /></a></p>
                    </div>
                </div>
            </form>
		</li>
		<li><hr></li>

		<!-- Post Navigation -->
		<li>
			<!-- <h5>Blog Nav</h5> -->
			<ul class="pager">
			  {% if page.previous.url != true %}
			    <li class="previous">
			    	<a href="{{page.previous.url}}"><i class="fa fa-arrow-circle-left"></i> Prev</a>
			    </li>
			  {% endif %}
			  {% if page.next.url %}
			    <li class="next">
			    	<a class="" href="{{page.next.url}}">Next <i class="fa fa-arrow-circle-right"></i></a>
			    </li>
			  {% endif %}
			</ul>
		</li>
		<li><hr></li>

		<!-- Recent Posts -->
		<li>
			<h5>Recent Posts</h5>
			<div class="list-group">
				{% for post in site.posts limit:3 %}
				<a href="{{ post.url }}" class="list-group-item">
					<h6 class="list-group-item-heading">{{ post.title }}</h6>
				    {% if post.image %}
	                  <img src="{{ site.baseurl }}/assets/{{ post.image }}" alt="..." style="width: 100%;">
	                {% else %}
	                  <img src="{{ site.baseurl }}/img/header-sm-crpd.jpg" alt="..." style="width: 100%;">
	                {% endif %}
				</a>
				{% endfor %}
			</div>
		</li>
		<li><hr></li>

		<!-- Categories -->
		<li>
			<h5>Categories</h5>
			{% for category in site.categories %}
			<div class = "button-margin">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ category | first | slugize }}" aria-expanded="false" aria-controls="R">
				  {{ category | first }}:
				  <span class="badge">{{ category | last | size }}</span>
				</button>
				<div class="collapse" id="{{ category | first | slugize }}">
				  <div class="list-group">
				    {% for posts in category %}
				      {% for post in posts %}
				      	{% if post.url %}
					        <!-- <a href="{{ post.url }}" class="list-group-item">{{ post.title }}</a> -->
					        <a href="{{ post.url }}" class="list-group-item">
								<h6 class="list-group-item-heading">{{ post.title }}</h6>
							    {% if post.image %}
				                  <img src="{{ site.baseurl }}/assets/{{ post.image }}" alt="..." style="width: 100%;">
				                {% else %}
				                  <img src="{{ site.baseurl }}/img/header-sm-crpd.jpg" alt="..." style="width: 100%;">
				                {% endif %}
							</a>
					    {% endif %}
				      {% endfor %}
				    {% endfor %}
				  </div>
				</div>
			</div>
			{% endfor %}
		</li>
		<li><hr></li>

		<!-- Tags -->
		<li>
			<h5>Tags</h5>
			<div>
				<!-- https://blog.lanyonm.org/articles/2013/11/21/alphabetize-jekyll-page-tags-pure-liquid.html -->
				{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
				{% assign tag_words = site_tags | split:',' | sort %}

				{% for item in (0..site.tags.size) %}{% unless forloop.last %}
				{% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
				<a href="/tags/#{{ this_word | slugify}}" class="btn btn-primary btn-xs">{{ this_word }}: <span class="badge">{{ site.tags[this_word].size }}</span></a>
				{% endunless %}{% endfor %}
			</div>

		</li>
		<li><hr></li>

		<!-- Resources -->
		<li>
			<h5>Resources</h5>
			<!-- R -->
			<div class = "button-margin">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#R" aria-expanded="false" aria-controls="R">
				  R: <span class="badge">{{ site.data.resources-R | size }}</span>
				</button>
				<div class="collapse" id="R">
				  <div class="list-group">
				    {% for resource_item in site.data.resources-R %}
    				<a href="{{ resource_item.link }}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="{{ resource_item.tooltip }}">{{ resource_item.name }}</a>
    				{% endfor %}
				  </div>
				</div>
			</div>

			<!-- Python -->
			<div class = "button-margin">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Python" aria-expanded="false" aria-controls="Python">
				  Python: <span class="badge">{{ site.data.resources-python | size }}</span>
				</button>
				<div class="collapse" id="Python">
				  <div class="list-group">
				    {% for resource_item in site.data.resources-python %}
    				<a href="{{ resource_item.link }}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="{{ resource_item.tooltip }}">{{ resource_item.name }}</a>
    				{% endfor %}
				  </div>
				</div>
			</div>

			<!-- Power BI -->
			<div class = "button-margin">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#PowerBI" aria-expanded="false" aria-controls="PowerBI">
				  Power BI: <span class="badge">{{ site.data.resources-powerbi | size }}</span>
				</button>
				<div class="collapse" id="PowerBI">
				  <div class="list-group">
				    {% for resource_item in site.data.resources-powerbi %}
    				<a href="{{ resource_item.link }}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="{{ resource_item.tooltip }}">{{ resource_item.name }}</a>
    				{% endfor %}
				  </div>
				</div>
			</div>

			<!-- Tableau -->
			<div class = "button-margin">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Tableau" aria-expanded="false" aria-controls="Tableau">
				  Tableau: <span class="badge">{{ site.data.resources-tableau | size }}</span>
				</button>
				<div class="collapse" id="Tableau">
				  <div class="list-group">
				    {% for resource_item in site.data.resources-tableau %}
    				<a href="{{ resource_item.link }}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="{{ resource_item.tooltip }}">{{ resource_item.name }}</a>
    				{% endfor %}
				  </div>
				</div>
			</div>

			<!-- Excel -->
			<div class = "button-margin">
				<button class="btn btn-primary" style="width: 100%;" type="button" data-toggle="collapse" data-target="#Excel" aria-expanded="false" aria-controls="Excel">
				  Excel <span class="badge">{{ site.data.resources-excel | size }}</span>
				</button>
				<div class="collapse" id="Excel">
				  <div class="list-group">
					{% for resource_item in site.data.resources-excel %}
					<a href="{{ resource_item.link }}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="{{ resource_item.tooltip }}">{{ resource_item.name }}</a>
					{% endfor %}
				  </div>
				</div>
			</div>

		</li>
		<li><hr></li>


	</ul>
</nav>