<nav class="bs-docs-sidebar ">
	<ul class="nav bs-docs-sidenav">

	    <!-- Email -->
        <!--
		<li>

		    <div class="row">

		        <div class="col-xs-12">

		            <h5>Get Articles in Your Inbox</h5>
		            <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                    <style type="text/css">

                    	#mc_embed_signup{ width:100%;}

                    </style>
                    <div id="mc_embed_signup">
						<form action="https://business-science.us17.list-manage.com/subscribe/post?u=cc36813ecec32f8e7b5088961&amp;id=a4e5b7c52f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                            <div class = "row">
                                <div id="mc_embed_signup_scroll">
                                    <div class="col-md-12">

                                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" style="width:100%; color: #2c3e50; text-align:center;" placeholder="email" required>
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cc36813ecec32f8e7b5088961_a4e5b7c52f" tabindex="-1" value=""></div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 text-center">
                                        <input type="submit" value="Get Articles" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-md" style="margin-bottom: 8px;">
                                    </div>
                                </div>
                            </div>
                        </form>
		        </div>
		    </div>
		   </div>
		</li>

		<li><hr></li>
		-->

		<!-- Search -->

		<li>

		    <form class="navbar-form" role="search" method="get" action="https://google.com/search">
              <div class="row">
                  <div class="col-xs-12">
                      <h5>Search for Articles</h5>
                  </div>
                  {% include search_google.html %}
              </div>
            </form>
		</li>
		<li><hr></li>

        <!-- Courses -->
        <div class="row">
            <h4 class="text-center" style="color:#2c3e50;">Need to learn Data Science for Business?</h4>
            <p class='text-center'>Our courses will accelerate your career. Get started today!</p>
        </div>

		<li>
		    <!-- 5-Course R-Track Courses -->
		    <div class="row">
		        <div class="col-xs-12 list-group">
		            <a class='list-group-item' href="https://university.business-science.io/p/5-course-bundle-machine-learning-web-apps-time-series" target="_blank">
		                <h5 class="list-group-item-heading">5-Course R-Track <i class="fab fa-r-project"></i></h5>
    		            <p>5-Courses. One streamlined system. Master R in under 6-months.</p>

		                <img src="/img/courses/5_course_r_track.jpg" alt="5-Course R Track" class="" style="width:100%"/>

                        <br><br>
    		            <div class="text-center">
    		                <div class="btn btn-md btn-success ">5-Course R-Track</div>
    		            </div>
		            </a>

		        </div>
		    </div>

            <!-- Python Courses -->
		    <div class="row">
		        <div class="col-xs-12 list-group">
		            <a class='list-group-item' href="https://university.business-science.io/p/python-for-data-science-automation-ds4b-101p" target="_blank">
    		            <h5 class="list-group-item-heading">Python Automation <i class="fab fa-python"></i></h5>
    		            <p>Learn how to automate business processes with Python.</p>
    		            <img src="/img/courses/course_101_p.jpg" alt="Python for Data Science Automation" class="" style="width:100%"/>
    		            <br><br>
    		            <div class="text-center">
    		                <div class="btn btn-md btn-success ">Python for DS Automation</div>
    		            </div>
    		        </a>
		        </div>
		    </div>

		    <!-- More Courses -->
		    <div class="row">
		        <div class="col-xs-12 list-group">
		            <a class='list-group-item' href="https://university.business-science.io/" target="_blank">
    		            <h5 class="list-group-item-heading">All Courses </h5>
    		            <p>View all of our courses.</p>
    		            <img src="/img/courses/university.jpg" alt="Python for Data Science Automation" class="" style="width:100%"/>
    		            <br><br>
    		            <div class="text-center">
    		                <div class="btn btn-md btn-success ">View Course Catalog</div>
    		            </div>
    		        </a>
		        </div>
		    </div>
		</li>
		<li><hr></li>

		<!-- Newsletters -->
		<li><h5 class="text-center">Get R &amp; Python Tips</h5></li>

		<li>
		    <!-- R Tips -->
		    <div class="row">
		        <div class="col-xs-12 list-group">
		            <a class='list-group-item' href="https://learn.business-science.io/r-tips-newsletter" target="_blank">
		                <h5 class="list-group-item-heading">Free R-Tips <i class="fab fa-r-project"></i></h5>
    		            <p>Get R code every 2-weeks.</p>

		                <img src="/img/logo-r.png" alt="Free R-Tips Newsletter" class="" style="width:100%"/>

                        <br><br>
    		            <div class="text-center">
    		                <div class="btn btn-md btn-success ">R-Tips Newsletter</div>
    		            </div>
		            </a>

		        </div>
		    </div>

            <!-- Python Tips -->
		    <div class="row">
		        <div class="col-xs-12 list-group">
		            <a class='list-group-item' href="https://learn.business-science.io/python-tips-newsletter" target="_blank">
		                <h5 class="list-group-item-heading">Free Python-Tips <i class="fab fa-python"></i></h5>
    		            <p>Get Python code every 2-weeks.</p>

		                <img src="/img/logo-python.png" alt="Free Python-Tips Newsletter" class="" style="width:100%"/>

                        <br><br>
    		            <div class="text-center">
    		                <div class="btn btn-md btn-success ">Python-Tips Newsletter</div>
    		            </div>
		            </a>

		        </div>
		    </div>
		</li>
		<li><hr></li>




		<!-- Popular Content -->
		<li>
			<h5>Popular Articles</h5>

			<div class="list-group">
				{% for post in site.posts %}
				<!-- 6 Reasons To Learn R For Business -->
				{% if post.title == '6 Reasons To Learn R For Business' %}
				<a href="{{ post.url }}" class="list-group-item">
					<h6 class="list-group-item-heading">{{ post.title }}</h6>
				    {% if post.image_preview %}
							<img src="{{ site.baseurl }}{{ post.image_preview }}" alt="..." style="width: 100%;">
						{% elsif post.image %}
							<img src="{{ site.baseurl }}{{ post.image }}" alt="..." style="width: 100%;">
	          {% else %}
	            <img src="{{ site.baseurl }}/img/header-sm-crpd.png" alt="..." style="width: 100%;">
	      	  {% endif %}
				</a>
				{% endif %}
				{% endfor %}
			</div>

		</li>
		<li><hr></li>

		<!-- Search -->
		<li>
		    <form class="navbar-form" role="search" method="get" action="https://google.com/search">
              <div class="row">
                  <div class="col-xs-12">
                      <h5>Search for Articles</h5>
                  </div>
                  {% include search_google.html %}
              </div>
            </form>
		</li>
		<li><hr></li>




		<!-- Recent Posts -->
		<li>
			<h5>Recent Posts</h5>
			<div class="list-group">
				{% for post in site.posts limit:3 %}
				<a href="{{ post.url }}" class="list-group-item">
					<h6 class="list-group-item-heading">{{ post.title }}</h6>
						{% if post.image_preview %}
							<img src="{{ site.baseurl }}{{ post.image_preview }}" alt="..." style="width: 100%;">
						{% elsif post.image %}
							<img src="{{ site.baseurl }}{{ post.image }}" alt="..." style="width: 100%;">
						{% else %}
							<img src="{{ site.baseurl }}/img/header-sm-crpd.png" alt="..." style="width: 100%;">
						{% endif %}
				</a>
				{% endfor %}
			</div>
		</li>
		<li><hr></li>




        <!-- Social -->
        <li><h4 class="text-center">Follow Us</h4></li>

        <li>
		    <h5 class="text-center">LinkedIn <small><a href="https://www.linkedin.com/company/business.science" target="_blank">(Follow Us)</a></small></h5>
		</li>

		<li>
		    <h5 class="text-center">Twitter <small><a href="https://twitter.com/bizScienc" target="_blank">(Tweet Us)</a></small></h5>
			<div class = "container">
				<a class="twitter-timeline" data-width="220" data-height="750" data-theme="light" href="https://twitter.com/bizScienc">Tweets by bizScienc</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</li>

		<li>
		    <h5 class="text-center">GitHub <small><a href="https://github.com/business-science" target="_blank">(Star Us)</a></small></h5>
		</li>

		<li><hr></li>
		<li>
			<h5>Featured on:</h5>
			<div class="list-group">
    		    <a href="https://R-bloggers.com" target = "_blank" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="R Bloggers">R-Bloggers</a>
    			<a href="https://Python-bloggers.com" target = "_blank" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="Python Bloggers">Python-Bloggers</a>

    		</div>


        <!-- Subscribe -->
        <!--
		<li>
		    <div class="row">
		        <div class="col-xs-12">
		            <h5>Get Articles in Your Inbox</h5>
		            <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                    	#mc_embed_signup{ width:100%;}
                    </style>

                    <div id="mc_embed_signup">
						<form action="https://business-science.us17.list-manage.com/subscribe/post?u=cc36813ecec32f8e7b5088961&amp;id=a4e5b7c52f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class = "row">
                                <div id="mc_embed_signup_scroll">

                                    <div class="col-md-12">
                                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" style="width:100%; color: #2c3e50; text-align:center;" placeholder="email" required>
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cc36813ecec32f8e7b5088961_a4e5b7c52f" tabindex="-1" value=""></div>
                                    </div>

                                    <div class="col-sm-12 col-md-12 text-center">
                                        <input type="submit" value="Get Articles" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-md" style="margin-bottom: 8px;">
                                    </div>
                                </div>
                            </div>

                        </form>
		        </div>
		    </div>
		   </div>
		</li>
		<li><hr></li>
		-->

        <!-- Learning Hub -->
		<!--
		<li>
		    <div class="row">
		        <div class="col-xs-12">
		            <h5>Find Articles By Category</h5>
		            <a href="/learn.html">
		                <img src="/img/learning_hub.jpg" alt="Learning Hub" class="" style="width:100%"/>
		            </a>
		            <br /><br />
		            <div class="text-center">
		                <a href="/learn.html" class="btn btn-md btn-success">Learning Hub</a>
		            </div>
		        </div>
		    </div>
		</li>
		<li><hr></li>
		-->

		<!-- Blog Navigation -->
		<!--
		{% if page.url contains "/blog/" %}
		<li>
			<ul class="pager">
    			{% if paginator.previous_page %}
      				<li class="previous"><a href="{{ paginator.previous_page_path }}"><i class="fa fa-arrow-circle-left"></i> Newer</a></li>
    			{% endif %}

    			{% if paginator.next_page %}
      				<li class="next"><a href="{{ paginator.next_page_path }}">Older <i class="fa fa-arrow-circle-right"></i></a></li>
    			{% endif %}
			</ul>
		</li>
		<li><hr></li>
		{% endif %}
		-->


        <!-- Cheat Sheets -->
        <!--
		<li>
		    <div class="row">
		        <div class="col-xs-12">
		            <h5>Download Cheat Sheets</h5>
		            <a href="/learn.html#cheatsheet-learn">
		                <img src="/img/cheatsheets/r-cheatsheet-300x250.png" alt="Learning Hub" class="" style="width:100%"/>
		            </a>
		            <br /><br />
		            <div class="text-center">
		                <a href="/learn.html#cheatsheet-learn" class="btn btn-md btn-success">Cheat Sheets</a>
		            </div>
		        </div>
		    </div>
		</li>
		<li><hr></li>
		-->


		<!-- Resources -->
		<!--
		<li><hr></li>
		<li>
			<h5>Resources</h5>

			<div class = "button-margin">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#R" aria-expanded="false" aria-controls="R">
				  R: <span class="badge">{{ site.data.resources-R | size }}</span>
				</button>
				<div class="collapse" id="R">
				  <div class="list-group">
				    {% for resource_item in site.data.resources-R %}
    				<a href="{{ resource_item.link }}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="{{ resource_item.tooltip }}">{{ resource_item.name }}</a>
    				{% endfor %}
				  </div>
				</div>
			</div>


			<div class = "button-margin">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Python" aria-expanded="false" aria-controls="Python">
				  Python: <span class="badge">{{ site.data.resources-python | size }}</span>
				</button>
				<div class="collapse" id="Python">
				  <div class="list-group">
				    {% for resource_item in site.data.resources-python %}
    				<a href="{{ resource_item.link }}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="{{ resource_item.tooltip }}">{{ resource_item.name }}</a>
    				{% endfor %}
				  </div>
				</div>
			</div>


			<div class = "button-margin">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#PowerBI" aria-expanded="false" aria-controls="PowerBI">
				  Power BI: <span class="badge">{{ site.data.resources-powerbi | size }}</span>
				</button>
				<div class="collapse" id="PowerBI">
				  <div class="list-group">
				    {% for resource_item in site.data.resources-powerbi %}
    				<a href="{{ resource_item.link }}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="{{ resource_item.tooltip }}">{{ resource_item.name }}</a>
    				{% endfor %}
				  </div>
				</div>
			</div>


			<div class = "button-margin">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Tableau" aria-expanded="false" aria-controls="Tableau">
				  Tableau: <span class="badge">{{ site.data.resources-tableau | size }}</span>
				</button>
				<div class="collapse" id="Tableau">
				  <div class="list-group">
				    {% for resource_item in site.data.resources-tableau %}
    				<a href="{{ resource_item.link }}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="{{ resource_item.tooltip }}">{{ resource_item.name }}</a>
    				{% endfor %}
				  </div>
				</div>
			</div>


			<div class = "button-margin">
				<button class="btn btn-primary" style="width: 100%;" type="button" data-toggle="collapse" data-target="#Excel" aria-expanded="false" aria-controls="Excel">
				  Excel: <span class="badge">{{ site.data.resources-excel | size }}</span>
				</button>
				<div class="collapse" id="Excel">
				  <div class="list-group">
					{% for resource_item in site.data.resources-excel %}
					<a href="{{ resource_item.link }}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="{{ resource_item.tooltip }}">{{ resource_item.name }}</a>
					{% endfor %}
				  </div>
				</div>
			</div>


			<div class = "button-margin">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#opensource" aria-expanded="false" aria-controls="opensource">
				  Other Tools: <span class="badge">{{ site.data.resources-opensource | size }}</span>
				</button>
				<div class="collapse" id="opensource">
				  <div class="list-group">
				    {% for resource_item in site.data.resources-opensource %}
    				<a href="{{ resource_item.link }}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="{{ resource_item.tooltip }}">{{ resource_item.name }}</a>
    				{% endfor %}
				  </div>
				</div>
			</div>
		</li>
		-->

	</ul>
</nav>
