
<br>

<div style="background-color:whitesmoke; padding:14px;">
    <p>
    <strong>👇 Top R-Tips Tutorials you might like:</strong>
    <ul>
        <li><a href="/code-tools/2020/12/15/pca.html">Interactive Principal Component Analysis in R</a></li>
        <li><a href="/code-tools/2020/11/24/forecasting-arima-models.html">How to Forecast with ARIMA Models in R</a></li>
        <li><a href="/code-tools/2020/10/07/automate-excel.html">Automate Excel in R</a></li>
        <li><a href="/code-tools/2020/11/17/tidyverse-functions-group-split.html">Detect Relationships with Linear Regression</a></li>
    </ul>
    </p>
</div>

<br> 