
<br>

<div style="background-color:whitesmoke; padding:14px;">
    <p>
    <h2>👇 Top R-Tips Tutorials you might like:</h2>
    <ol>
        <li><a href="/code-tools/2021/05/04/mmtable2.html">mmtable2: ggplot2 for tables</a></li>
        <li><a href="/r/2021/07/22/ggdist-raincloud-plots.html">ggdist: Make a Raincloud Plot to Visualize Distribution in ggplot2</a></li>
        <li><a href="/code-tools/2021/05/18/marginal_distributions.html">ggside: Plot linear regression with marginal distributions</a></li>
        <li><a href="/code-tools/2021/05/18/dataeditr.html">DataEditR: Interactive Data Editing in R</a></li>
        <li><a href="/code-tools/2020/10/07/automate-excel.html">openxlsx: How to Automate Excel in R</a></li>
        <li><a href="/code-tools/2020/09/22/automate-powerpoint.html">officer: How to Automate PowerPoint in R</a></li>
        <li><a href="/code-tools/2021/03/02/use-dataexplorer-for-EDA.html">DataExplorer: Fast EDA in R</a></li>
        <li><a href="/code-tools/2021/03/23/ggplot-code-with-tableau-esquisse.html">esquisse: Interactive ggplot2 builder</a></li>
        <li><a href="/code-tools/2021/05/25/gghalves.html">gghalves: Half-plots with ggplot2</a></li>
        <li><a href="/code-tools/2020/10/21/automate-pdf-with-r.html">rmarkdown: How to Automate PDF Reporting</a></li>
        <li><a href="/code-tools/2021/05/11/patchwork.html">patchwork: How to combine multiple ggplots</a></li>
        <li><a href="/code-tools/2020/12/08/geographic-map-visualization.html">Geospatial Map Visualizations in R</a></li>
    </ol>
    </p>
    <p>
        Want these tips every week? <a href="https://learn.business-science.io/r-tips-newsletter">Join R-Tips Weekly.</a>
    </p>
</div>

<br>
