---
layout: default
title: Post
---

<!-- Cover Container -->
<div style="background-color: #f1f1f1; width: 100%">
<div class="container" style="padding-top:40px">

	<div id="cover" class="row ">
			<div class="col-md-8">
					<h1 style="padding-bottom: 0px !important;" class="text-center">Business Science</h1>
					<h2>Data Science Courses for Business</h2>
					<p class="subtitle">
							Learn the data science skills to <strong><em>accelerate your career</em></strong> in 5 months or less.
					</p>
					<p class="benefits hidden-xs hidden-sm" style="padding-top: 20px;">
							Expert Instructors.&nbsp; High-Performance Tools.&nbsp; End-to-End Projects.
					</p>
			</div>
			
			<div class="hidden-xs hidden-sm" style="padding-top:60px;"><!-- additional spacer for larger screen size--></div>

			<div class="col-md-4 text-center" style="padding-top:10px;">
					<div class="thumbnail">
							<div class="create-account-block">

									<form>
									<p style="font-family: ff-tisa-web-pro, serif;">Join over 15,000 data scientists</p>
									<h4>GET OUR ULTIMATE<br>DATA SCIENCE<br>CHEAT SHEETS FOR FREE!</h4>
									<p class="text-left" style="padding: 14px;">
											<input name="cheatsheet-option" type="radio" onclick="toggleCheatSheetDownload('r');">&nbsp; Interested in R <br>
											<input name="cheatsheet-option" type="radio" onclick="toggleCheatSheetDownload('python');">&nbsp; Interested in Python <br>
											<input name="cheatsheet-option" type="radio" onclick="toggleCheatSheetDownload('segmentation');">&nbsp; Interested in Segmentation <br>
											<input name="cheatsheet-option" type="radio" onclick="toggleCheatSheetDownload('ml');">&nbsp; Interested in Machine Learning
									</p>
									<div id="download-default">
											<a id="cheatsheet-download" data-sumome-listbuilder-id="" class="btn btn-lg btn-info" style="color:#fff;">Click Here to Download!</a>
									</div>
									<div id="download-r" style="display: none;">
											<a id="cheatsheet-download" data-sumome-listbuilder-id="6a54f0f0-90ea-4488-bddd-1f583c280dca" class="btn btn-lg btn-info" style="color:#fff;">Click Here to Download!</a>
									</div>
									<div id="download-python" style="display: none;">
											<a id="cheatsheet-download" data-sumome-listbuilder-id="a411aca8-9fa9-4774-8e48-daeb1a34a8a1" class="btn btn-lg btn-info" style="color:#fff;">Click Here to Download!</a>
									</div>
									<div id="download-segmentation" style="display: none;">
											<a id="cheatsheet-download" data-sumome-listbuilder-id="d72caf53-29f8-4543-a5bb-5adf5e7fa396" class="btn btn-lg btn-info" style="color:#fff;">Click Here to Download!</a>
									</div>
									<div id="download-ml" style="display: none;">
											<a id="cheatsheet-download" data-sumome-listbuilder-id="b48252d6-16f8-4cb8-a817-5778e4c938ee" class="btn btn-lg btn-info" style="color:#fff;">Click Here to Download!</a>
									</div>
									</form>
									
							</div>
					</div>
			</div>
	</div>
	
</div>
</div> 
<!-- end Cover Container -->

<br />
<br />

{% include blog_1_signup_3_free_course.html %}



<br />
<hr />



<!-- Blog Body -->
<section id="blog">

  <!-- Main Body -->
  <div class="container" id="blog_content">
    <div class="row">
    	<!-- Main Content -->
    	<div class="col-md-9 col-md-offset-0" role="main">

				<h1 style="margin-top: 20px !important;">{{ page.title }}</h1>
				<p><em>Written {% if page.author %} by {{ page.author }} {% endif %} on {{ page.date | date: "%B %e, %Y" }}</em></p>

				<br>

	  		<p><img class="shadow" src="/assets/{{page.image}}" style="margin-top: 0px;"></p>
	  		<hr class="margin-bottom-40">
	    	{{ content }}
	    </div>
	    <!-- Sidebar -->
	    <div class="col-md-3 well well-lg bs-component hidden-print hidden-sm hidden-xs" role="complimentary">
	    	{% include sidebar.html %}
	    </div>
    </div>
  </div>
  
  <!-- MARKETING -->
  <div class="container">
      <div class="row">
    	<!-- Main Content -->
    	<div class="col-md-9 col-md-offset-0" role="main">
        
        {% include blog_1_announcements.html %}
        {% include blog_1_curriculum.html %}
        {% include blog_1_social.html %}
      
      </div>
      </div>
  </div>
  
  <div class="container">
  	<!-- Assistance -->
	<div class="row">
	  <div class="col-sm-12 col-md-7 col-sm-offset-0 col-md-offset-1 text-center" style="margin-top: 40px;">
	      <p><em>Start learning today! <a href="https://university.business-science.io/" style="color: #18BC9C;">Business Science University</a></em>
	      </p>
	  </div>
	</div> <!-- End Assistance -->
  </div>

    <br>
  <!-- Interested in Business Science? Subscribe! -->
  {% include blog_1_signup.html %}

  
  <!-- Left / Right Nav  -->
  <div class="container">
  	<div class="col-md-9 col-md-offset-0">
		<div class="PageNavigation">
		  {% if page.previous.url %}
		    <a class="prev" href="{{page.previous.url}}">
		    	<i class="fa fa-arrow-circle-left"></i>
		    	{{page.previous.title}}
		    </a>
		  {% endif %}
		  {% if page.next.url %}
		    <a class="next pull-right" href="{{page.next.url}}">
		    	{{page.next.title}}
				<i class="fa fa-arrow-circle-right"></i>
		    </a>
		  {% endif %}
		</div>
	</div>
  </div>
</section>

<!-- Disqus -->
<div class="container">
	<div class="col-md-9 col-md-offset-0">
	{% include disqus.html disqus_identifier=page.disqus_identifier %}
	</div>
</div>


<!-- htmlwidgets dependencies -->
<!-- {% if page.htmlwidgets %}
    {% assign dep_file = page.url | split: '/' | last | prepend : 'htmlwidgets/' %}
    {% include {{dep_file}} %}
  {% endif %} -->
