---
layout: default
title: Post
---

<!-- Cover Container -->
{% include header_business_science.html  %}
<!-- end Cover Container -->

<!-- Blog Body -->
<section id="blog">

  <!-- Main Body -->
  <div class="container" id="blog_content">
    <div class="row">
    	<!-- Main Content -->
    	<div class="col-md-9 col-md-offset-0" role="main">

				<h1 style="margin-top: 20px !important;">{{ page.title }}</h1>
				<p><em>Written {% if page.author %} by {{ page.author }} {% endif %} on {{ page.date | date: "%B %e, %Y" }}</em></p>

				<br>

	  		<p><img class="shadow" src="{{page.image}}" style="margin-top: 0px;"></p>
	  		<hr class="margin-bottom-40">
	    	{{ content }}
	    </div>
	    <!-- Sidebar -->
	    <div class="col-md-3 well well-lg bs-component hidden-print hidden-sm hidden-xs" role="complimentary">
	    	{% include sidebar.html %}
	    </div>
    </div>
  </div>




  <!-- Left / Right Nav  -->
  <div class="container">
  	<div class="col-md-9 col-md-offset-0">
		<div class="PageNavigation">
		  {% if page.previous.url %}
		    <a class="prev" href="{{page.previous.url}}">
		    	<i class="fa fa-arrow-circle-left"></i>
		    	{{page.previous.title}}
		    </a>
		  {% endif %}
		  {% if page.next.url %}
		    <a class="next pull-right" href="{{page.next.url}}">
		    	{{page.next.title}}
				<i class="fa fa-arrow-circle-right"></i>
		    </a>
		  {% endif %}
		</div>
	</div>
  </div>
</section>

<!-- Disqus -->
<div class="container">
	<div class="col-md-9 col-md-offset-0">
	{% include disqus.html disqus_identifier=page.disqus_identifier %}
	</div>
</div>


<!-- htmlwidgets dependencies -->
<!-- {% if page.htmlwidgets %}
    {% assign dep_file = page.url | split: '/' | last | prepend : 'htmlwidgets/' %}
    {% include {{dep_file}} %}
  {% endif %} -->
