<!DOCTYPE html>
<html lang="en">

<head>

	{% include analytics.html %}
		
    <title>
	  {% if page.title %}
	    {{ page.title }}
	  {% else %}
	    Default Page Title
	  {% endif %}
	</title>
		
    {% include meta.html %}

    {% include atom_feed.html %}

    {% include head.html %}

</head>

<body class="index" style='padding-top:0px;'>
	
	{% include google_tag_manager_body.html %}

	{{ content }}

	{% include footer_webinar.html %}

	

	{% include mailchimp_head.html %}

	{% include script.html %}

</body>

</html>